{%- block form_errors -%}
    {%- if errors|length > 0 -%}
{#        <div class="form-item__error-message">#}
            {%- for error in errors -%}
                <div class="form-item__error-message">{{ error.message }}</div>
            {%- endfor -%}
{#        </div>#}
    {%- endif -%}
{%- endblock form_errors -%}


{% block form_row %}
    <div class="form-item{% if form_errors(form) %} form-item_error{% endif %}">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}