.input {
    &__wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        &_label {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }

        input {
            height: 5rem;
            padding: 0 3rem;
        }

        textarea {
            padding: 3rem;
        }
        
        input, textarea {
            border: none;
            background: $inputColor;
            font-size: 1.6rem;
            &:focus, &:visited, &:focus {
                outline: none;
            }
        }
    }

    &__ico {
        width: 1.5rem;
        height: 2rem;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;

        svg {
            width: 100%;
            height: 100%;
        }
    }

}