.custom-serach {
    display: flex;
    position: relative;

    .search-btn {
        position: absolute;
        height: 2rem;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: transparent;

        img {
            height: 100%;
        }
    }

    input[name=search] {
        width: 100%;
        font-size: 1.2rem;
        padding: 1rem;

        &:focus, &:active, &:visited {
            outline: none;
        }
    }

    &__items {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        max-height: 30rem;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(10px, 16px, 28px, 0.1);
        z-index: 2;
        overflow-y: auto;
        &.active {
            display: block;
        }

        &_item {
            padding: 1rem 2rem;
            font-size: 1.6rem;
            text-transform: uppercase;
            &:hover {
                background-color: $accentColor;
                color: #fff;
            }
        }
        .error_region{
            padding: 1rem 2rem;
             font-size: 1.6rem;
             text-transform: uppercase;
             color:red;
        }
        .error_class , .error_group , .error_subgroup , .error_diagnoz{
            padding: 1rem 2rem;
            font-size: 1.6rem;
            text-transform: uppercase;
            color:red;
        }
    }
}

@media screen and (min-width: 1400px) {
    .custom-serach {
    
        .search-btn {
            height: 2rem;
        }
    
        input[name=search] {
            width: 100%;
            font-size: 1.6rem;
            padding: 1.5rem;
        }
    }
}