<header class="header">
    <div class="header__container">
        <a class="header__logo" href="/">
            <img class="header__logo_img" src="/local/templates/kdteam/images/png/header/logo-oms-white.png"
                 alt="OMS">
        </a>
        {% if app.user %}
            <div class="header__r"><img class="header__r_auth_login_img" src="/images/message.svg" alt="OMS">
                <a style="font-size: 2rem; color: #fff; display: flex; padding-right: 2rem;padding-left: 1rem;"
                   href="/vopros-otvet/"><span class="header__r_auth_user_hello">Вопрос - Отве1т</span></a>
                <a rel="nofollow" href="javascript:void(0)" id="show-mnu" class="header__r_auth_user">
                            <span class="header__r_auth_user_hello">
                                Добрый день,
                            </span>
                    <span class="header__r_auth_user_name">{{ app.user.firstLastName }}!</span>
                </a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {{ render(controller('AppBundle:User:_userPanel')) }}
                {% endif %}

                <!-- <div class="header__r_auth">
                    <div class="header__r_auth_user-image">
                        <?php
                        $rsUser = CUser::GetByID($ID_USER);
                        $person = $rsUser->Fetch();

                        $file = CFile::ResizeImageGet($person["PERSONAL_PHOTO"], array('width'=>50, 'height'=>50), BX_RESIZE_IMAGE_PROPORTIONAL, true);
                        if($url != "/personal-cabinet/") {
                            if ($person['UF_INSURANCE_COMPANY'] != '') {
                            if (CIBlockElement::GetByID($person['UF_INSURANCE_COMPANY'])->SelectedRowsCount() != 0) {
                                $res = CIBlockElement::GetByID($person['UF_INSURANCE_COMPANY'])->GetNextElement()->GetFields();
                            if ($res["ACTIVE"] != "Y") {
                                ?>

                                <script> $('body').css({'overflow': 'hidden'});
                                  setTimeout(function() {
                                    $.magnificPopup.open({
                                      items: {
                                        src: '<div class="white-popup custom_styles_popup">'+
                                        '<p>Уважаемый пользователь!</p>'+
                                        '<p>Страховая компания, указанная в вашем личном кабинете, прекратила свою '+
                                        'деятельность. Формирование обращения в адрес страховой компании недоступно. '+
                                        'Для выяснения своей страховой принадлежности и дальнейших действий по выбору '+
                                        'СМО необходимо обратиться в территориальный фонд ОМС своего региона. '+
                                        'После того, как определитесь с новой страховой компанией и сделаете '+
                                        'отметку на полисе ОМС, укажите ее данные в '+
                                        '<a href="/personal-cabinet/"> личном кабинете </a>.</p></div>',
                                        type: 'inline',
                                      },
                                    });
                                    $('body').css({'overflow': 'initial'});
                                  }, 1000);</script>
                            <? }
                            }else{
                            ?>
                                <script> $('body').css({'overflow': 'hidden'});
                                  setTimeout(function() {
                                    $.magnificPopup.open({
                                      items: {
                                        src: '<div class="white-popup custom_styles_popup">'+
                                        '<p>Уважаемый пользователь!</p>'+
                                        '<p>Страховая компания, указанная в вашем личном кабинете, прекратила свою '+
                                        'деятельность. Формирование обращения в адрес страховой компании недоступно. '+
                                        'Для выяснения своей страховой принадлежности и дальнейших действий по выбору '+
                                        'СМО необходимо обратиться в территориальный фонд ОМС своего региона. '+
                                        'После того, как определитесь с новой страховой компанией и сделаете '+
                                        'отметку на полисе ОМС, укажите ее данные в '+
                                        '<a href="/personal-cabinet/"> личном кабинете </a>.</p></div>',
                                        type: 'inline',
                                      },
                                    });
                                    $('body').css({'overflow': 'initial'});
                                  }, 1000);</script>
                            <?
                            } ?>

                            <? }else{
                            ?>
                                <script> $('body').css({'overflow': 'hidden'});
                                  setTimeout(function() {
                                    $.magnificPopup.open({
                                      items: {
                                        src: '<div class="white-popup custom_styles_popup">'+
                                        '<p>Уважаемый пользователь!</p>'+
                                        '<p>Страховая компания, указанная в вашем личном кабинете, прекратила свою '+
                                        'деятельность. Формирование обращения в адрес страховой компании недоступно. '+
                                        'Для выяснения своей страховой принадлежности и дальнейших действий по выбору '+
                                        'СМО необходимо обратиться в территориальный фонд ОМС своего региона. '+
                                        'После того, как определитесь с новой страховой компанией и сделаете '+
                                        'отметку на полисе ОМС, укажите ее данные в '+
                                        '<a href="/personal-cabinet/"> личном кабинете </a>.</p></div>',
                                        type: 'inline',
                                      },
                                    });
                                    $('body').css({'overflow': 'initial'});
                                  }, 1000);</script>
                            <?
                            }
                        }

                        ?>

                      <img src="-->
                <?//=$file["src"]?>
                <!--" alt="">
                    </div>
                </div> -->
            </div>
        {% else %}

            <div class="header__r" style="display: flex;">
                <div class="header__r_auth">
    <span class="header__r_auth_login">
    <img class="header__r_auth_login_img" src="/images/message.svg" alt="OMS">
    <a style="font-size: 2rem;" href="/vopros-otvet/"><div
                class="header__r_auth_login_text">Вопрос - Ответ</div></a></span>
                    <span href="/local/templates/kdteam/includes/ajax-auth-login.php" id="login-link"
                          class="header__r_auth_login">
                    <img class="header__r_auth_login_img"
                         src="/images/key.svg" alt="OMS">
                    <div class="header__r_auth_login_text">
                        Вход
                    </div>
                    </span>

                    <span href="/local/templates/kdteam/includes/ajax-auth-reg.php" id="reg-link"
                          data-rigstration="0" class="header__r_auth_reg">
                    <img class="header__r_auth_login_img"
                         src="/images/edit.svg" alt="OMS">
                    <div class="header__r_auth_login_text">
                        Регистрация
                    </div>
                    </span>
                </div>

                <span href="/local/templates/kdteam/includes/ajax-feedback.php"
                      class="header__r_mainBtn headerBtn" id="write-us_modal">
                <svg style="fill: #ffffff; width: 2rem; height: 3rem;"
                     class="header__r_auth_login_img hidden-desk--image" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                    <path
                            d="M486.4 59.733H25.6c-14.138 0-25.6 11.461-25.6 25.6v341.333c0 14.138 11.461 25.6 25.6 25.6h460.8c14.138 0 25.6-11.461 25.6-25.6V85.333c0-14.138-11.461-25.6-25.6-25.6zm8.533 366.934a8.533 8.533 0 01-8.533 8.533H25.6a8.533 8.533 0 01-8.533-8.533V85.333A8.533 8.533 0 0125.6 76.8h460.8a8.533 8.533 0 018.533 8.533v341.334z"/>
                    <path
                            d="M470.076 93.898a8.53 8.53 0 00-6.229 1.966L266.982 261.239a17.068 17.068 0 01-21.965 0L48.154 95.863a8.535 8.535 0 00-10.974 13.073l196.864 165.367c12.688 10.683 31.224 10.683 43.913 0L474.82 108.937a8.532 8.532 0 001.049-12.023 8.524 8.524 0 00-5.793-3.016zM164.124 273.13a8.535 8.535 0 00-8.229 2.65l-119.467 128a8.532 8.532 0 1012.476 11.639l119.467-128a8.532 8.532 0 00-4.247-14.289zM356.105 275.78a8.534 8.534 0 10-12.476 11.639l119.467 128a8.533 8.533 0 0012.476-11.64L356.105 275.78z"/>
                </svg>

                <div class="hidden-text-mob">
                    Написать нам
                </div>
                </span>
            </div>
        {% endif %}
    </div>
</header>
