<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta name="yandex-verification" content="3117711c7cf9d47f" />
        <meta name="google-site-verification" content="6i-0zWPQEfVk1TaN63icBNxaPtFIwxrzlrG-w4oiTyg" />
    {% endblock %}

    <title>{% block title %}Сервис «Без Бахил» сохраняет здоровье и деньги{% endblock %}</title>

    <link rel="shortcut icon" href="/local/templates/kdteam/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{#    <?php $APPLICATION->ShowHead(); ?>#}
    <meta property = "og:image" content="https://bezbahil.ru/local/templates/kdteam/images/png/header/logo-oms-white.jpg"/>
    <link rel="image_src" href="https://bezbahil.ru/local/templates/kdteam/images/png/header/logo-oms-white.jpg" />

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
        <link href="/local/templates/kdteam/styles/main.min.css" type="text/css"  data-template-style="true"  rel="stylesheet" />
        <link rel="stylesheet" href="/landing/css/plugins.min.css">
    {% endblock %}

{#    <?php if ($_SERVER[REQUEST_URI] === '/') { ?>#}
{#    <script type="application/ld+json">#}
{#        {#}
{#            "@context": "http://schema.org/",#}
{#            "@type": "WebSite",#}
{#            "name": "Без Бахил",#}
{#            "url": "https://bezbahil.ru/"#}
{#        }#}
{#    </script>#}
{#    <?php }?>#}
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3VBFGG"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{#<?php $APPLICATION->ShowPanel();#}
{#?>#}

<!-- Start Wrap -->
<div class="wrap">
    <!-- Header -->
    {% block svgSprites %}{% endblock %}
    {% block header %}
        {% include 'legacy/_header.html.twig' %}
    {% endblock %}
    <!-- Content -->
    <main class="main">
        {% block main %}{% endblock %}
    </main>
    <!-- Footer -->
    {% block footer %}
        {% include 'legacy/_footer.html.twig' %}
    {% endblock %}
</div><!-- END Wrap -->

{% include '_analytics_counts.html.twig' %}
</body>
{% block javascripts %}
    <script src="/local/templates/kdteam/js/main.min.js"></script>
    <script src="/local/templates/kdteam/js/validator.min.js"></script>
    <script src="/landing/js/plugins.min.js"></script>
    <script src="/dist/bundle.js"></script>
{% endblock %}
</html>
