<a href="{{ path('admin_app_company_insurancecompany_company_insurancecompanybranch_list', {'id': object.id}) }}" class="btn btn-sm btn-default view_link" title="Филиалы">
    <i class="fa fa-list" aria-hidden="true"></i>
    Филиалы
</a>