{% extends 'base.html.twig' %}
{% block title %}404 Not Found{% endblock %}
{% block main %}
    <div class="page-404">
        <h3 class="page-404_sub-title">Ошибка 404</h3>
        <h1 class="page-404_title">Страница не найдена!</h1>

        <p class="page-404_text">Неправильно набран адрес или такой страницы на сайте больше не существует.</p>
        <p class="page-404_text">Вы можете перейти на <a class="page-404_link" href="/">главную страницу </a>.</p>
    </div>
{% endblock %}
