{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {# <link rel="stylesheet" href="/landing/css/app.css"> #}
    {# стили которые собираются дефолтной задачей gulp #}
    <link rel="stylesheet" href="/local/templates/kdteam/pages/landing/landing.min.css">
    <link rel="stylesheet" href="/local/templates/kdteam/pages/lichniy-cabinet/lichniy-cabinet.min.css">
{% endblock %}

{% block main %}
    <div class="lk">
        <nav class="lk__nav">
            <ul>
                <li class="lk__nav__item lk__nav__item_active">
                    <a href="#">Обзор</a>
                </li>
                <li class="lk__nav__item">
                    <a href="#">Сообщения</a>
                </li>
                <li class="lk__nav__item">
                    <a href="#">Обращения</a>
                </li>
                <li class="lk__nav__item">
                    <a href="#">Мои отзывы</a>
                </li>
                <li class="lk__nav__item">
                    <a href="#">Пациенты</a>
                </li>
                <li class="lk__nav__item">
                    <a href="#">Спецпредложения
                        <div class="special-offer-quantity">3</div>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="lk__title">25 ноября, Васильев Д.А.</div>
        <div class="lk__content">
            <div class="lk__content__small-content">
                <div class="lk__content__small-content__my-appeals lk-border">
                    <div class="my-appeals__year">2020</div>
                    <div class="my-appeals__item">
                        <div class="my-appeals__item__date">12 декабря</div>
                        <div class="my-appeals__item__name">Громут П.А.</div>
                    </div>
                    <div class="my-appeals__item my-appeals__item_active">
                        <div class="my-appeals__item__date">25 ноября</div>
                        <div class="my-appeals__item__name">Васильев Д.А.</div>
                    </div>
                    <div class="my-appeals__item">
                        <div class="my-appeals__item__date">17 сентября</div>
                        <div class="my-appeals__item__name">Константинопольский А.О.</div>
                    </div>
                    <div class="my-appeals__item">
                        <div class="my-appeals__item__date">12 декабря</div>
                        <div class="my-appeals__item__name">Громут П.А.</div>
                    </div>
                </div>
            </div>
            <div class="lk__content__big-content lk-border">
                <div class="lk__content__big-content__title">
                    <div class="lk__content__big-content__title__patient-info">
                        <div class="lk__content__big-content__title__patient-info__date-name">25 ноября, Васильев&nbsp;Д.А.</div>
                        <div class="lk__content__big-content__title__patient-info__patient">Пациент</div>
                        <div class="lk__content__big-content__title__patient-info__name">Васильев Дмитрий Анатольевич</div>
                        <div class="lk__content__big-content__title__patient-info__polis-info">Полис: 345234 7234 2222
                            от 23.02.2020
                        </div>
                        <div class="lk__content__big-content__title__patient-info__insurance-company">
                            Альфа-страхование
                        </div>
                    </div>
                    <div class="lk__content__big-content__title__download-button">
                        <button class="btn2">Скачать обращение</button>
                    </div>
                </div>
                <div class="lk__content__big-content__appeal-info">
                    <div class="lk__content__big-content__appeal-info__item">
                        <div class="lk__content__big-content__appeal-info__item__title">Регион</div>
                        <div class="lk__content__big-content__appeal-info__item__value">77 Московская область</div>
                    </div>
                    <div class="lk__content__big-content__appeal-info__item">
                        <div class="lk__content__big-content__appeal-info__item__title">Год оказания услуги</div>
                        <div class="lk__content__big-content__appeal-info__item__value">2020</div>
                    </div>
                    <div class="lk__content__big-content__appeal-info__item">
                        <div class="lk__content__big-content__appeal-info__item__title">Медицинская организация</div>
                        <div class="lk__content__big-content__appeal-info__item__value">Поликлиника 77 имени Склифасовского</div>
                    </div>
                    <div class="lk__content__big-content__appeal-info__item">
                        <div class="lk__content__big-content__appeal-info__item__title">Юридический адрес</div>
                        <div class="lk__content__big-content__appeal-info__item__value">124124, г. Москва, ул. Пречистинка, д. 21</div>
                    </div>
                    <div class="lk__content__big-content__appeal-info__item">
                        <div class="lk__content__big-content__appeal-info__item__title">Руководитель, главный врач</div>
                        <div class="lk__content__big-content__appeal-info__item__value">Подоплелов Владмир Всеволодович</div>
                    </div>
                    <div class="lk__content__big-content__appeal-info__item">
                        <div class="lk__content__big-content__appeal-info__item__title">Обращение</div>
                        <div class="lk__content__big-content__appeal-info__item__value">Плановое</div>
                    </div>
                    <div class="lk__content__big-content__appeal-info__item">
                        <div class="lk__content__big-content__appeal-info__item__title">Заболевание</div>
                        <div class="lk__content__big-content__appeal-info__item__value">ОРВИ</div>
                    </div>
                    <div class="lk__content__big-content__appeal-info__item">
                        <div class="lk__content__big-content__appeal-info__item__title">Документы об оплате</div>
                        <div class="lk__content__big-content__appeal-info__item__docs">
                            <div class="lk__content__big-content__appeal-info__item__docs__item">
                                <img src="{{ asset('gulp/images/svg/lk-doc-icon.svg') }}">Документ1.doc
                            </div>
                            <div class="lk__content__big-content__appeal-info__item__docs__item">
                                <img src="{{ asset('gulp/images/svg/lk-pdf-icon.svg') }}">Документ2.pdf
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="lk__content__to-appeals-button btn">К списку обращений</button>
        </div>
    </div>
{% endblock %}
