<div id="reviews" class="b-reviews">
    <div class="b-reviews__content site-width">
        <div class="b-reviews__header">
            <h3 class="b-reviews__title">Отзывы о сервисе</h3>
            <a href="{{ path("app_insurancecompany_feedback_index") }}" class="b-reviews__button btn">Все отзывы</a>
        </div>
        <div class="b-reviews__inner">
            <div class="b-reviews__slider">
                {% for feedback in feedbacks %}
                    {% include '@App/_feedback.html.twig' with {'feedback': feedback}%}
                {% endfor %}
            </div>
        </div>
    </div>
</div><!-- b-reviews -->