<div class="b-insider__item-wrap">
    <div class="b-insider__item">
        <div style="background-image: url({{ image_thumbnail_url(item, null, 'main_lg') }});" class="b-insider__item-image">
            <img src="{{ image_thumbnail_url(item, null, 'main_lg') }}" alt="">
        </div>
        <div class="b-insider__item-content">
            <div class="b-insider__item-title">{{ item.title }}</div>
            <div class="b-insider__item-text">
                {{ item.announce | raw }}
            </div>
        </div>
    </div>
</div>