<div id="faq" class="b-question">
    <div class="b-question__content site-width">
        <div class="b-question__block">
            <h3 class="b-question__title">Вопрос-ответ</h3>
            {% for question in questions %}
                {% include '@App/_question.html.twig' with {'question': question}%}
            {% endfor %}
        </div>
        <div class="b-question__image">
            <img src="/landing/img/oic_question.svg" alt="">
        </div>
    </div>
</div><!-- b-question -->