<div class="b-question__item">
    <div class="b-question__item-title">

        <div class="svg-icon svg-icon--question" aria-hidden="true">
            <svg class="svg-icon__link">
                <use xlink:href="#question"></use>
            </svg>
        </div>
        {{ question.question }}
    </div>
    <div class="b-question__item-text">
        {{ question.answer | raw }}
    </div>
</div>