<div class="b-rating__item">
    <div class="b-rating__item-title">{{ company[0].name }}</div>
    <div class="b-rating__item-star">
        {% if company.actualRating > 0 %}
            {% for i in 1..(company.actualRating | round(2)) %}
                <div class="svg-icon svg-icon--star active" aria-hidden="true">
                    <svg class="svg-icon__link">
                        <use xlink:href="#star"></use>
                    </svg>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>