<div class="b-rating__part b-rating__part--block">
    <div class="b-rating__block">
        <div class="b-rating__part-title">Топ страховых компаний в "{{ region ? region.nameWithoutCode : 'стране' }}"</div>
        <div class="b-rating__items">
            {% for i, company in companyRating %}
                {% include '@App/_rating_item.html.twig' with {'i': i, 'company': company}%}
            {% endfor %}
        </div>
        <div class="b-rating__more">
            <a href="#">Весь рейтинг
                <div class="svg-icon svg-icon--arrow" aria-hidden="true">
                    <svg class="svg-icon__link">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>