{% extends "base.html.twig" %}

{% block metaDescription %}
    <meta name="description"
          content="Мы помогаем вернуть деньги за лечение по полису обязательного медицинского страхования: профессионально и бесплатно. Оформите заявку прямо сейчас!"/>
{% endblock %}

{% block title %}
    <title>
        Безбахил — сервис для возврата денег за ОМС, рейтинг страховых компаний
    </title>
{% endblock %}

{% block stylesheets %}
    <link href="/local/templates/kdteam/pages/contact_us/contact_us.min.css" type="text/css" rel="stylesheet"/>
    {{ parent() }}
{% endblock %}


{% block main %}
    <div class="app__content">
        <div class="popup-write-us onpage"></div>
    </div><!-- b:m-content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/dist/bundle.js"></script>
{% endblock %}