{% extends "base.html.twig" %}

{% block metaDescription %}
    <meta name="description"
          content="Мы помогаем вернуть деньги за лечение по полису обязательного медицинского страхования: профессионально и бесплатно. Оформите заявку прямо сейчас!"/>
{% endblock %}

{% block title %}
    <title>
        Безбахил — сервис для возврата денег за ОМС, рейтинг страховых компаний
    </title>
{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/landing/css/plugins.min.css">
    {#    <link rel="stylesheet" href="/landing/css/app.css">#}
    {#    стили которые собираются дефолтной задачей gulp#}
    <link rel="stylesheet" href="/local/templates/kdteam/pages/landing/landing.min.css">
{% endblock %}


{% block main %}
    <div class="app__content">
        <div class="popup-write-us"></div>
    </div><!-- b:m-content -->
{% endblock %}