{# ... #}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/landing/css/plugins.min.css">
    <link rel="stylesheet" href="/local/templates/kdteam/pages/landing/landing.min.css">
</head>
<body class="app">
    {#{% include '@App/form/contact_us.html.twig' %}#}

    <script src="/landing/js/vendors/jquery-3.4.1.min.js"></script>
    <script src="/landing/js/plugins.min.js"></script>
    <script src="/contact_us/js/main.js"></script>
</body>


{# ... #}