<!doctype html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="theme-color" content="">

    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="format-detection" content="telephone=no">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link type="image/png" href="/landing/favicon.png" rel="icon">

    <link rel="apple-touch-icon" sizes="180x180" href="/landing/apple-touch-icon.png?v=zX7n49rwEM">
    <link rel="icon" type="image/png" sizes="32x32" href="/landing/favicon-32x32.png?v=zX7n49rwEM">
    <link rel="icon" type="image/png" sizes="16x16" href="/landing/favicon-16x16.png?v=zX7n49rwEM">
    <link rel="shortcut icon" href="/landing/favicon.ico?v=zX7n49rwEM">

    <meta name="msapplication-tap-highlight" content="no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">


    <!-- Primary Meta Tags -->
    <meta name="description" content="">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bezbahil.ru">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://okc.media/bb/img/bb-default.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://bezbahil.ru">
    <meta property="twitter:title" content="">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="https://okc.media/bb/img/bb-default.png">


    <title>BB</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/landing/css/plugins.min.css">
    <link rel="stylesheet" href="/landing/css/app.css">



</head>

<body class="app">

<svg class="main-svg-sprite main-svg-sprite--icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><symbol viewBox="0 0 26 10" id="arrow" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 2"><path d="M20.34.23a.6.6 0 00-.87-.08.63.63 0 00-.08.88l.08.08 4.43 3.28H.59a.63.63 0 00-.59.67.62.62 0 00.59.59H23.9l-4.44 3.28a.66.66 0 000 .89.62.62 0 00.87 0l5.49-4.36a.62.62 0 000-.87z" data-name="Layer 1"></path></g></symbol><symbol viewBox="0 0 13 7" id="arrow_drop" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 2"><path d="M6.58 7A.79.79 0 007 6.79l5.63-5.2a.92.92 0 00.23-1.21.76.76 0 00-1.11-.23.86.86 0 00-.14.13L6.5 5 1.39.28A.76.76 0 00.26.23a.91.91 0 000 1.23.8.8 0 00.13.13L6 6.79a.78.78 0 00.58.21z" data-name="Layer 1"></path></g></symbol><symbol viewBox="0 0 30 30" id="close" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 2"><path d="M15 0a15 15 0 1015 15A15 15 0 0015 0zm6.66 19.37a1.66 1.66 0 01.15 2.44 1.53 1.53 0 01-1.09.47 1.92 1.92 0 01-1.35-.62L15 17.29l-4.37 4.37a1.69 1.69 0 01-2.44.15 1.66 1.66 0 01.15-2.44L12.71 15l-4.37-4.37a1.66 1.66 0 01-.15-2.44 1.69 1.69 0 012.44.15L15 12.71l4.37-4.37a1.69 1.69 0 012.44-.15 1.66 1.66 0 01-.15 2.44L17.29 15z" data-name="Layer 1"></path></g></symbol><symbol viewBox="0 0 18 18" id="lk" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 2"><path d="M9 18a9 9 0 10-9-9 9 9 0 009 9zm0-1.38a7.58 7.58 0 01-5.39-2.25 7.6 7.6 0 0110.78 0A7.58 7.58 0 019 16.62zM6.23 8A2.77 2.77 0 119 10.75 2.77 2.77 0 016.23 8zM9 1.38a7.61 7.61 0 016.28 11.92 9.11 9.11 0 00-3.61-2.14 4.15 4.15 0 10-5.34 0 9.11 9.11 0 00-3.61 2.14A7.61 7.61 0 019 1.38z" data-name="Layer 1"></path></g></symbol><symbol viewBox="0 0 11 13" id="location" xmlns="http://www.w3.org/2000/svg"><defs><style>.ecls-1{fill:#b2b2b2;fill-rule:evenodd}</style></defs><g id="eLayer_2" data-name="Layer 2"><path class="ecls-1" d="M5.47 13C7.38 10.86 11 8.36 11 5.4a5.5 5.5 0 00-11 0c0 2.96 3.62 5.46 5.47 7.6zm0-9.84A2.27 2.27 0 113.2 5.4a2.29 2.29 0 012.27-2.24z" id="eLayer_1-2" data-name="Layer 1"></path></g></symbol><symbol viewBox="0 0 24 24" id="menu" xmlns="http://www.w3.org/2000/svg"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></symbol><symbol viewBox="0 0 20 20" id="ok" xmlns="http://www.w3.org/2000/svg"><defs><style>.gcls-1{fill:#009b3a}</style></defs><g id="gLayer_2" data-name="Layer 2"><g id="gLayer_1-2" data-name="Layer 1"><path class="gcls-1" d="M10 20A10 10 0 100 10a10 10 0 0010 10zm0-17.8A7.8 7.8 0 112.2 10 7.82 7.82 0 0110 2.2z"></path><path class="gcls-1" d="M14.54 7.91l-1.56-1.56-4.31 4.3-1.65-1.64-1.56 1.55 3.21 3.21 5.87-5.86z"></path></g></g></symbol><symbol viewBox="0 0 18 18" id="question" xmlns="http://www.w3.org/2000/svg"><defs><style>.hcls-1{fill:#fa7167}</style></defs><g id="hLayer_2" data-name="Layer 2"><g id="hLayer_1-2" data-name="Layer 1"><path class="hcls-1" d="M15.37 2.64A9 9 0 002.63 15.36 9 9 0 1015.37 2.64zm-1.11 11.61A7.43 7.43 0 019 16.44a7.34 7.34 0 01-5.26-2.19 7.44 7.44 0 1110.52 0z"></path><path class="hcls-1" d="M7.71 13.13a1 1 0 001.89 0 .95.95 0 00-1.89 0zM9 4.2c-1.86 0-3.62.85-3.62 2.87h1.47C6.85 6 8 5.53 9 5.53s2.1.27 2.1 1.51c0 .92-.8 1.12-1.51 1.45-1 .4-1.66.91-1.66 2.75H9.4c0-.9.18-1.23.8-1.54.8-.47 2.42-.73 2.42-2.66S10.86 4.2 9 4.2z"></path></g></g></symbol><symbol viewBox="0 0 12 23" id="scroll" xmlns="http://www.w3.org/2000/svg"><defs><style>.icls-1{fill:#134469}</style></defs><g id="iLayer_2" data-name="Layer 2"><g id="iLayer_1-2" data-name="Layer 1"><path class="icls-1" d="M6 1.55A4.57 4.57 0 001.5 6.2v6.2A4.58 4.58 0 006 17.06a4.58 4.58 0 004.5-4.66V6.2A4.57 4.57 0 006 1.55zM6 0a6.11 6.11 0 016 6.2v6.2a6.11 6.11 0 01-6 6.21 6.11 6.11 0 01-6-6.21V6.2A6.11 6.11 0 016 0z"></path><path class="icls-1" d="M5.25 4.65a.75.75 0 111.5 0v4.14a.75.75 0 11-1.5 0zM6.37 22.9a.74.74 0 01-1-.29.79.79 0 01.28-1.06l3.5-2.07a.74.74 0 011 .29.79.79 0 01-.28 1.06z"></path><path class="icls-1" d="M6.37 21.55a.79.79 0 01.28 1.06.74.74 0 01-1 .29l-3.5-2.07a.79.79 0 01-.28-1.06.74.74 0 011-.29z"></path></g></g></symbol><symbol viewBox="0 0 32 32" id="search" xmlns="http://www.w3.org/2000/svg"><path d="M19.427 20.427a8.5 8.5 0 112-2l5.585 5.585c.55.55.546 1.431 0 1.976l-.023.023a1.398 1.398 0 01-1.976 0l-5.585-5.585zM14.5 20a6.5 6.5 0 100-13 6.5 6.5 0 000 13z"></path></symbol><symbol viewBox="0 0 17 17" id="soc_inst" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 2"><g data-name="Layer 1"><path d="M8.5 4.08a4.39 4.39 0 104.39 4.39A4.4 4.4 0 008.5 4.08zm0 7.2a2.81 2.81 0 112.81-2.81 2.83 2.83 0 01-2.81 2.81z"></path><circle cx="13.06" cy="3.98" r=".99"></circle><path d="M15.63 1.41A4.87 4.87 0 0012 0H5a4.7 4.7 0 00-5 5v7a4.91 4.91 0 001.44 3.66A5 5 0 005 17h7a5 5 0 003.59-1.34A4.89 4.89 0 0017 12V5a4.9 4.9 0 00-1.37-3.59zM15.49 12a3.37 3.37 0 01-1 2.5 3.57 3.57 0 01-2.5.89H5a3.57 3.57 0 01-2.5-.89 3.45 3.45 0 01-.92-2.5V5a3.42 3.42 0 01.92-2.5A3.5 3.5 0 015 1.58h7.06a3.46 3.46 0 012.51.92 3.56 3.56 0 01.92 2.5v7z"></path></g></g></symbol><symbol viewBox="0 0 17 15" id="soc_teleg" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 2"><path d="M17 1.37l-2.61 12.72c-.2.9-.7 1.13-1.42.7l-3.91-3-1.88 1.88a1 1 0 01-.79.4l.28-4.18L13.92 3c.31-.3-.07-.46-.49-.17l-9 5.94L.61 7.5c-.83-.28-.85-.88.18-1.31L15.87.08c.7-.28 1.31.16 1.13 1.29z" data-name="Layer 1"></path></g></symbol><symbol viewBox="0 0 16 16" id="star" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 2"><path d="M16 5.92a.43.43 0 00-.34-.27l-5-.69L8.29.23A.42.42 0 007.91 0a.43.43 0 00-.38.25l-2.17 4.8-5 .84a.43.43 0 00-.36.29.41.41 0 00.1.42l3.7 3.66-.8 5.26a.41.41 0 00.17.41.42.42 0 00.45 0l4.45-2.53 4.51 2.39a.43.43 0 00.45 0 .4.4 0 00.16-.41l-.93-5.24 3.58-3.77a.42.42 0 00.16-.45z" data-name="Layer 1"></path></g></symbol></svg><svg class="main-svg-sprite main-svg-sprite--colored" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><symbol id="marmelad" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><style>.ast6{fill:#fff}</style><path fill="#f7e018" d="M272 274.8c-37.5 0-67.9-30.4-67.9-67.9 0-31.4-25.6-57-57-57-37.5 0-67.9-30.4-67.9-67.9s30.4-67.9 67.9-67.9c106.3 0 192.8 86.5 192.8 192.8 0 37.5-30.4 67.9-67.9 67.9z"></path><path fill="#1988c6" d="M243.8 394.9c0-37.5 30.4-67.9 67.9-67.9 31.4 0 57-25.6 57-57 0-37.5 30.4-67.9 67.9-67.9s67.9 30.4 67.9 67.9c0 106.3-86.5 192.8-192.8 192.8-37.5 0-67.9-30.4-67.9-67.9z"></path><path fill="#f16524" d="M133.5 200.3c31.3 20.7 39.9 62.8 19.2 94.1-17.3 26.2-10.1 61.6 16.1 79 31.3 20.7 39.9 62.8 19.2 94.1s-62.8 39.9-94.1 19.2C5.2 427.9-19.2 308.1 39.4 219.5c20.7-31.3 62.8-39.9 94.1-19.2z"></path><path fill="#e5cd1a" d="M234.1 206.9c0-31.4-25.6-57-57-57-37.5 0-67.9-30.4-67.9-67.9 0-33.7 24.5-61.7 56.7-67-6.2-.6-12.5-.9-18.8-.9-37.5 0-67.9 30.4-67.9 67.9s30.4 67.9 67.9 67.9c31.4 0 57 25.6 57 57 0 37.5 30.4 67.9 67.9 67.9 5.2 0 10.2-.6 15-1.7-30.3-6.8-52.9-33.8-52.9-66.2z"></path><path fill="#1c73ba" d="M273.8 394.9c0-37.5 30.4-67.9 67.9-67.9 31.4 0 57-25.6 57-57 0-32.3 22.6-59.4 52.9-66.2-4.8-1.1-9.8-1.7-15-1.7-37.5 0-67.9 30.4-67.9 67.9 0 31.4-25.6 57-57 57-37.5 0-67.9 30.4-67.9 67.9s30.4 67.9 67.9 67.9c6.4 0 12.6-.3 18.8-.9-32.1-5.3-56.7-33.3-56.7-67z"></path><path fill="#e54c21" d="M123.9 486.6C35.2 427.9 10.8 308.1 69.4 219.5c10.1-15.2 25.2-25.1 41.7-28.8-26.8-6.1-55.7 4.5-71.7 28.8C-19.2 308.2 5.2 428 93.9 486.6c16.1 10.6 35 13.5 52.4 9.6-7.8-1.8-15.4-5-22.4-9.6z"></path><path d="M347.4 206.9c0-110.4-89.8-200.3-200.3-200.3-41.6 0-75.4 33.8-75.4 75.4s33.8 75.4 75.4 75.4c27.3 0 49.5 22.2 49.5 49.5 0 41.6 33.8 75.4 75.4 75.4 41.6 0 75.4-33.8 75.4-75.4zm-135.8 0c0-35.6-28.9-64.5-64.5-64.5-33.3 0-60.4-27.1-60.4-60.4s27.1-60.4 60.4-60.4c102.2 0 185.3 83.1 185.3 185.3 0 33.3-27.1 60.4-60.4 60.4s-60.4-27.1-60.4-60.4z"></path><path d="M120.7 82h-15c0 22.9 18.6 41.4 41.4 41.4 17.7 0 34.7 5.5 49 15.9l8.8-12.1c-16.9-12.3-36.9-18.8-57.8-18.8-14.5.1-26.4-11.8-26.4-26.4zm186.7 80.2c-12.8-45.8-44.8-84.1-87.7-105l-6.6 13.5c39.1 19 68.2 53.8 79.8 95.5l14.5-4zM190.9 62.1c4.5 1.4 9.1 3 13.5 4.8l5.7-13.9c-4.8-2-9.8-3.8-14.8-5.3l-4.4 14.4zM185.2 45c-5.1-1.2-10.3-2.2-15.5-2.9l-2 14.9c4.7.6 9.4 1.5 14.1 2.6l3.4-14.6z" class="ast6"></path><path d="M436.6 194.7c-41.6 0-75.4 33.8-75.4 75.4 0 27.3-22.2 49.5-49.5 49.5-41.6 0-75.4 33.8-75.4 75.4s33.8 75.4 75.4 75.4c110.4 0 200.3-89.8 200.3-200.3 0-41.6-33.8-75.4-75.4-75.4zM311.7 455.3c-33.3 0-60.4-27.1-60.4-60.4s27.1-60.4 60.4-60.4c35.6 0 64.5-28.9 64.5-64.5 0-33.3 27.1-60.4 60.4-60.4S497 236.7 497 270c0 102.2-83.1 185.3-185.3 185.3z"></path><path d="M407.5 312.4l14.1 5.1c1.8-5.1 3.3-10.3 4.3-15.6l-14.7-2.8c-.9 4.6-2.1 9-3.7 13.3zm-10.7 20.3l12.2 8.7c3.1-4.4 5.9-9.1 8.3-13.9l-13.4-6.6c-2 4.1-4.4 8-7.1 11.8z"></path><path d="M363.3 326.9c-14.2 12.9-32.5 19.9-51.6 19.9-26.5 0-48.1 21.6-48.1 48.1h15c0-18.2 14.8-33.1 33.1-33.1 22.8 0 44.7-8.5 61.6-23.8l-10-11.1z" class="ast6"></path><path d="M365.6 418.5l5.1 14.1c4.9-1.8 9.8-3.8 14.5-6l-6.4-13.6c-4.3 2.1-8.7 3.9-13.2 5.5zm-22.9 6.4l2.9 14.7c5.1-1 10.2-2.3 15.2-3.8l-4.3-14.4c-4.5 1.5-9.2 2.6-13.8 3.5zm-23.7 2.9l.7 15c5.2-.2 10.5-.7 15.6-1.4l-2-14.9c-4.8.7-9.5 1.1-14.3 1.3z"></path><path d="M481.9 254.1l-14.1 5c1.2 3.5 1.9 7.2 1.9 11 0 32.2-9.7 63.3-28 89.7l12.3 8.5c20.1-29 30.7-63 30.7-98.3 0-5.4-1-10.8-2.8-15.9zM454 225.3c-5.5-2.2-11.4-3.3-17.4-3.3v15c4.1 0 8.1.8 11.9 2.2l5.5-13.9zm10.2 26.5l12.5-8.3c-3.3-5-7.4-9.2-12.3-12.7l-8.7 12.2c3.4 2.5 6.2 5.4 8.5 8.8z" class="ast6"></path><path d="M172.9 367c-22.8-15-29-45.8-14-68.6 11.1-16.8 15-36.9 11-56.6-4-19.7-15.5-36.7-32.3-47.8-16.8-11.1-36.9-15-56.6-11-19.7 4-36.7 15.5-47.8 32.3-60.9 92.1-35.5 216.6 56.6 277.5 12.5 8.3 26.8 12.5 41.4 12.5 5.1 0 10.2-.5 15.2-1.5 19.7-4 36.7-15.5 47.8-32.3s15-36.9 11-56.6c-4-19.8-15.5-36.8-32.3-47.9zm8.8 96.2c-8.9 13.5-22.5 22.6-38.3 25.9-15.8 3.2-31.9.1-45.4-8.8C12.8 424-10.7 308.8 45.7 223.6c8.9-13.5 22.5-22.6 38.3-25.9 4.1-.8 8.1-1.2 12.2-1.2 11.7 0 23.2 3.4 33.2 10 13.5 8.9 22.6 22.5 25.9 38.3 3.2 15.8.1 31.9-8.8 45.4-19.6 29.7-11.4 69.7 18.2 89.4 13.5 8.9 22.6 22.5 25.9 38.3 3.1 15.8 0 31.9-8.9 45.3z"></path><path d="M116.8 452C100.1 441 86 427.1 75 410.8l-12.4 8.4c12.2 18 27.6 33.2 45.9 45.3 6.9 4.5 14.7 6.9 22.8 6.9 2.8 0 5.6-.3 8.4-.9l-3-14.7c-7 1.5-14.1.1-19.9-3.8zm5.1-200.4c.4 1.8.5 3.6.5 5.4 0 5.1-1.5 10.2-4.4 14.5-10.7 16.2-16.3 34.8-16.3 54.1 0 6.6.7 13.3 2 19.9l14.7-3c-1.1-5.6-1.7-11.3-1.7-16.9 0-16.3 4.8-32.1 13.8-45.8 4.5-6.8 6.9-14.7 6.9-22.8 0-2.8-.3-5.6-.8-8.4-.3-1.3-.6-2.6-1-3.9l-14.3 4.4c.3.8.5 1.7.6 2.5zm-3.9-9.5l12.4-8.4c-3-4.5-6.9-8.3-11.5-11.4-.6-.4-1.1-.7-1.7-1.1l-7.7 12.9c.4.2.7.5 1.1.7 3 2 5.4 4.4 7.4 7.3zm-15.7-10.9l3.6-14.6c-5.9-1.5-12.1-1.6-18.2-.3l3 14.7c3.9-.8 7.9-.7 11.6.2z" class="ast6"></path></symbol></svg>


<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<div class="app__wrapper">

    <header class="app-header">
        <div class="app-header__content site-width">
            <a href="#" class="app-header__menu-button">
			<span class="menu-icon">
				<span class="menu-icon__line menu-icon__line-left"></span>
				<span class="menu-icon__line"></span>
				<span class="menu-icon__line menu-icon__line-right"></span>
			</span>
            </a>
            <a href="#" class="app-header__logo">
                <img src="/landing/img/logo.png" width="199" alt="">
            </a>
            <div class="app-header__in">
                <div class="app-header__location">

                    <div class="svg-icon svg-icon--location" aria-hidden="true">
                        <svg class="svg-icon__link">
                            <use xlink:href="#location"></use>
                        </svg>
                    </div>

                    <span>Ваш регион: </span>
                    <a href="#loacation" class="js-loacation">Москва и область</a>
                </div>
                <nav class="app-header__list">
                    <ul>
                        <li><a class="js-scroll" href="#first">Возврат денег за ОМС</a></li>
                        <li><a class="js-scroll" href="#rating">Рейтинг страховых компаний</a></li>
                        <li><a class="js-scroll" href="#work">О проекте</a></li>
                        <li><a class="js-scroll" href="#faq">FAQ</a></li>
                    </ul>
                </nav>
                <a href="#" class="app-header__lk btn">

                    <div class="svg-icon svg-icon--lk" aria-hidden="true">
                        <svg class="svg-icon__link">
                            <use xlink:href="#lk"></use>
                        </svg>
                    </div>

                    Личный кабинет
                </a>
            </div>
        </div>
    </header><!-- b:app-header -->
    <div class="nav-mobile">
        <div class="nav-mobile__content">
            <div class="nav-mobile__in">
                <div class="nav-mobile__location-wrapper">
                    <div class="nav-mobile__location">

                        <div class="svg-icon svg-icon--location" aria-hidden="true">
                            <svg class="svg-icon__link">
                                <use xlink:href="#location"></use>
                            </svg>
                        </div>

                        <span>Ваш регион: </span>
                        <a href="#loacation" class="js-loacation">Москва и область</a>
                    </div>
                </div>
                <ul class="nav-mobile__list">
                    <li class="nav-mobile__list-item"><a class="js-scroll" href="#first">Возврат денег за ОМС</a></li>
                    <li class="nav-mobile__list-item"><a class="js-scroll" href="#rating">Рейтинг страховых компаний</a></li>
                    <li class="nav-mobile__list-item"><a class="js-scroll" href="#work">О проекте</a></li>
                    <li class="nav-mobile__list-item"><a class="js-scroll" href="#faq">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="remodal" data-remodal-id="loacation" data-remodal-options="hashTracking: true, closeOnOutsideClick: true">
        <div data-remodal-action="close" class="remodal-close">

            <div class="svg-icon svg-icon--close" aria-hidden="true">
                <svg class="svg-icon__link">
                    <use xlink:href="#close"></use>
                </svg>
            </div>

        </div>
        <div class="remodal-title">Выбрать регион</div>
        <div class="remodal-content">
            <div class="l-list">
                <div class="l-list__item">
                    <a href="#">Москва</a>
                </div>
                <div class="l-list__item">
                    <a href="#">Казань</a>
                </div>
                <div class="l-list__item">
                    <a href="#">Воронеж</a>
                </div>
                <div class="l-list__item">
                    <a href="#">Санкт-Петербург</a>
                </div>
                <div class="l-list__item">
                    <a href="#">Краснодар</a>
                </div>
                <div class="l-list__item">
                    <a href="#">Казань</a>
                </div>
                <div class="l-list__item">
                    <a href="#">Воронеж</a>
                </div>
                <div class="l-list__item">
                    <a href="#">Красноярск</a>
                </div>
                <div class="l-list__item">
                    <a href="#">Краснодар</a>
                </div>
                <div class="l-list__item">
                    <a href="#">Екатеринбург</a>
                </div>
                <div class="l-list__item">
                    <a href="#">Нижний Новгород</a>
                </div>
            </div>
        </div>
    </div>

















    <div class="app__content">



        <div id="first" class="b-first">
            <div class="b-first__content site-width">
                <h1 class="b-first__title">
                    Верните деньги <span>за лечение</span>
                </h1>
                <div class="b-first__items">
                    <div class="b-first__item">

                        <div class="svg-icon svg-icon--ok" aria-hidden="true">
                            <svg class="svg-icon__link">
                                <use xlink:href="#ok"></use>
                            </svg>
                        </div>

                        Если Вам отказали
                        в бесплатном лечении
                        в поликлинике.
                    </div>
                    <div class="b-first__item">

                        <div class="svg-icon svg-icon--ok" aria-hidden="true">
                            <svg class="svg-icon__link">
                                <use xlink:href="#ok"></use>
                            </svg>
                        </div>

                        Если Вам пришлось
                        заплатить за медицинские
                        услуги.
                    </div>
                </div>
                <div class="b-first__form">
                    <form action="#" class="b-form">
                        <div class="b-form__item b-form__item--full">
                            <div class="b-form__item-title">Ваш регион</div>
                            <div class="b-form__item-content">
                                <select>
                                    <option>Москва и область</option>
                                    <option>Название региона</option>
                                    <option>Еще одно название</option>
                                    <option>Третье название</option>
                                    <option>Четвертое название Четвертое название</option>
                                    <option>Пятое название</option>
                                    <option>Шестое название</option>
                                    <option>Седьмое название</option>
                                </select>
                            </div>
                        </div>
                        <div class="b-form__item">
                            <div class="b-form__item-title">Год лечения</div>
                            <div class="b-form__item-content">
                                <select>
                                    <option>2019 г.</option>
                                    <option selected="">2020 г.</option>
                                </select>
                            </div>
                        </div>
                        <div class="b-form__item">
                            <div class="b-form__item-content">
                                <button class="b-form__button btn2" type="submit">Вернуть деньги</button>
                            </div>
                        </div>
                    </form><!-- b-form -->



                </div>
                <div class="b-first__bottom">
                    <a href="#" class="b-first__button">

                        <div class="svg-icon svg-icon--scroll" aria-hidden="true">
                            <svg class="svg-icon__link">
                                <use xlink:href="#scroll"></use>
                            </svg>
                        </div>

                        УЗНАТЬ ПОДРОБНЕЕ
                    </a>
                </div>
                <div class="b-first__bg"></div>
            </div>
        </div><!-- b-first -->
        <div id="work" class="b-work">
            <div class="b-work__content site-width">
                <h3 class="b-work__title">Как это работает</h3>
                <div class="b-work__text">
                    Безбахил — первый бесплатный сервис, помогающий вернуть деньги за лечение
                    в клиниках, работающих  в системе обязательного медицинского страхования.
                </div>
                <div class="b-work__block">
                    <div class="b-work__item">
                        <div class="b-work__item-image">
                            <img src="/landing/img/step_1.svg" alt="">
                        </div>
                        <div class="b-work__item-text">
                            Выбираете где, куда и с чем обращались
                        </div>
                    </div>
                    <div class="b-work__separator">
                        <img src="/landing/img/step_arrow.svg" alt="">
                    </div>
                    <div class="b-work__item">
                        <div class="b-work__item-image">
                            <img src="/landing/img/step_2.svg" alt="">
                        </div>
                        <div class="b-work__item-text">
                            Загружаете фото документа об оплате
                        </div>
                    </div>
                    <div class="b-work__separator">
                        <img src="/landing/img/step_arrow.svg" alt="">
                    </div>
                    <div class="b-work__item">
                        <div class="b-work__item-image">
                            <img src="/landing/img/step_3.svg" alt="">
                        </div>
                        <div class="b-work__item-text">
                            Сервис автоматически
                            сформирует обращение
                            и отправит в страховую
                            компанию
                        </div>
                    </div>
                    <div class="b-work__separator">
                        <img src="/landing/img/step_arrow.svg" alt="">
                    </div>
                    <div class="b-work__item">
                        <div class="b-work__item-image">
                            <img src="/landing/img/step_4.svg" alt="">
                        </div>
                        <div class="b-work__item-text">
                            Вам возвращают деньги
                            за лечение
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- b-work -->
        <div id="rating" class="b-rating">
            <div class="b-rating__content site-width">
                <div class="b-rating__in">
                    <div class="b-rating__part b-rating__part--info">
                        <h4 class="b-rating__title">Ваш голос <span>имеет значение</span></h4>
                        <div class="b-rating__info">—  Недовольны своим полисом ОМС?</div>
                        <div class="b-rating__info">—  Столкнулись с отказом в оказании медицинской помощи?</div>
                        <div class="b-rating__info">—  Не можете попасть к врачу или на исследование?</div>
                        <div class="b-rating__info">—  Не помог ваш страховой представитель?</div>
                        <div class="b-rating__bottom">
                            <a href="#" class="b-rating__button btn2">Оставить отзыв</a>
                        </div>
                    </div>
                    <div class="b-rating__part b-rating__part--block">
                        <div class="b-rating__block">
                            <div class="b-rating__part-title">Топ страховых компаний в регионе Москва и МО</div>
                            <div class="b-rating__items">
                                <div class="b-rating__item">
                                    <div class="b-rating__item-title">Медстрах</div>
                                    <div class="b-rating__item-star">

                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>

                                    </div>
                                </div>
                                <div class="b-rating__item">
                                    <div class="b-rating__item-title">Капитал</div>
                                    <div class="b-rating__item-star">

                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>

                                    </div>
                                </div>
                                <div class="b-rating__item">
                                    <div class="b-rating__item-title">ВТБ</div>
                                    <div class="b-rating__item-star">

                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>

                                    </div>
                                </div>
                                <div class="b-rating__item">
                                    <div class="b-rating__item-title">МАКС-М </div>
                                    <div class="b-rating__item-star">

                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>

                                    </div>
                                </div>
                                <div class="b-rating__item">
                                    <div class="b-rating__item-title">РЕСО-МЕД </div>
                                    <div class="b-rating__item-star">

                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>


                                        <div class="svg-icon svg-icon--star" aria-hidden="true">
                                            <svg class="svg-icon__link">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="b-rating__more">
                                <a href="#">Весь рейтинг
                                    <div class="svg-icon svg-icon--arrow" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- b-rating -->


        <div id="reviews" class="b-reviews">
            <div class="b-reviews__content site-width">
                <div class="b-reviews__header">
                    <h3 class="b-reviews__title">Отзывы о сервисе</h3>
                    <a href="#" class="b-reviews__button btn">Все отзывы</a>
                </div>
                <div class="b-reviews__inner">
                    <div class="b-reviews__slider">
                        <div class="b-reviews__item-wrap">
                            <div class="b-reviews__item">
                                <div class="b-reviews__star">

                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>

                                </div>
                                <div class="b-reviews__item-text">
                                    Самая большая страховая компания в Тюменской
                                    области. Качественно выполняют свою работу. Отдел
                                    по защите прав работает достаточно неспешно,
                                    но работает.
                                </div>
                                <div class="b-reviews__item-content">
                                    <div class="b-reviews__item-user">
                                        <div class="b-reviews__item-icon">

                                            <div class="svg-icon svg-icon--lk" aria-hidden="true">
                                                <svg class="svg-icon__link">
                                                    <use xlink:href="#lk"></use>
                                                </svg>
                                            </div>

                                        </div>
                                        <div class="b-reviews__item-in">
                                            <div class="b-reviews__item-name">Бессонова Полина, Тюмень</div>
                                            <div class="b-reviews__item-date">21 Марта, 2020</div>
                                        </div>
                                    </div>
                                    <div class="b-reviews__item-logo">
                                        <img src="/landing/img/alfa-logo.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-reviews__item-wrap">
                            <div class="b-reviews__item">
                                <div class="b-reviews__star">

                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>

                                </div>
                                <div class="b-reviews__item-text">
                                    В компании работают внимательные, доброжелательные
                                    сотрудники, которые охотно отвечают все возникающие
                                    вопросы. Врач-эксперт доходчиво объяснила мои права
                                    при мед. обслуживании в стационаре. И нет у них
                                    очереди, что очень радует. Спасибо!!!
                                </div>
                                <div class="b-reviews__item-content">
                                    <div class="b-reviews__item-user">
                                        <div class="b-reviews__item-icon">

                                            <div class="svg-icon svg-icon--lk" aria-hidden="true">
                                                <svg class="svg-icon__link">
                                                    <use xlink:href="#lk"></use>
                                                </svg>
                                            </div>

                                        </div>
                                        <div class="b-reviews__item-in">
                                            <div class="b-reviews__item-name">Бессонова Полина, Тюмень</div>
                                            <div class="b-reviews__item-date">21 Марта, 2020</div>
                                        </div>
                                    </div>
                                    <div class="b-reviews__item-logo">
                                        <img src="/landing/img/maks-logo.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-reviews__item-wrap">
                            <div class="b-reviews__item">
                                <div class="b-reviews__star">

                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>

                                </div>
                                <div class="b-reviews__item-text">
                                    Самая большая страховая компания в Тюменской
                                    области. Качественно выполняют свою работу. Отдел
                                    по защите прав работает достаточно неспешно,
                                    но работает.
                                </div>
                                <div class="b-reviews__item-content">
                                    <div class="b-reviews__item-user">
                                        <div class="b-reviews__item-icon">

                                            <div class="svg-icon svg-icon--lk" aria-hidden="true">
                                                <svg class="svg-icon__link">
                                                    <use xlink:href="#lk"></use>
                                                </svg>
                                            </div>

                                        </div>
                                        <div class="b-reviews__item-in">
                                            <div class="b-reviews__item-name">Бессонова Полина, Тюмень</div>
                                            <div class="b-reviews__item-date">21 Марта, 2020</div>
                                        </div>
                                    </div>
                                    <div class="b-reviews__item-logo">
                                        <img src="/landing/img/akbars-logo.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="b-reviews__item-wrap">
                            <div class="b-reviews__item">
                                <div class="b-reviews__star">

                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>

                                </div>
                                <div class="b-reviews__item-text">
                                    Самая большая страховая компания в Тюменской
                                    области. Качественно выполняют свою работу. Отдел
                                    по защите прав работает достаточно неспешно,
                                    но работает.
                                </div>
                                <div class="b-reviews__item-content">
                                    <div class="b-reviews__item-user">
                                        <div class="b-reviews__item-icon">

                                            <div class="svg-icon svg-icon--lk" aria-hidden="true">
                                                <svg class="svg-icon__link">
                                                    <use xlink:href="#lk"></use>
                                                </svg>
                                            </div>

                                        </div>
                                        <div class="b-reviews__item-in">
                                            <div class="b-reviews__item-name">Бессонова Полина, Тюмень</div>
                                            <div class="b-reviews__item-date">21 Марта, 2020</div>
                                        </div>
                                    </div>
                                    <div class="b-reviews__item-logo">
                                        <img src="/landing/img/akbars-logo.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-reviews__item-wrap">
                            <div class="b-reviews__item">
                                <div class="b-reviews__star">

                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>

                                </div>
                                <div class="b-reviews__item-text">
                                    В компании работают внимательные, доброжелательные
                                    сотрудники, которые охотно отвечают все возникающие
                                    вопросы. Врач-эксперт доходчиво объяснила мои права
                                    при мед. обслуживании в стационаре. И нет у них
                                    очереди, что очень радует. Спасибо!!!
                                </div>
                                <div class="b-reviews__item-content">
                                    <div class="b-reviews__item-user">
                                        <div class="b-reviews__item-icon">

                                            <div class="svg-icon svg-icon--lk" aria-hidden="true">
                                                <svg class="svg-icon__link">
                                                    <use xlink:href="#lk"></use>
                                                </svg>
                                            </div>

                                        </div>
                                        <div class="b-reviews__item-in">
                                            <div class="b-reviews__item-name">Бессонова Полина, Тюмень</div>
                                            <div class="b-reviews__item-date">21 Марта, 2020</div>
                                        </div>
                                    </div>
                                    <div class="b-reviews__item-logo">
                                        <img src="/landing/img/akbars-logo.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-reviews__item-wrap">
                            <div class="b-reviews__item">
                                <div class="b-reviews__star">

                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>


                                    <div class="svg-icon svg-icon--star" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>

                                </div>
                                <div class="b-reviews__item-text">
                                    Самая большая страховая компания в Тюменской
                                    области. Качественно выполняют свою работу. Отдел
                                    по защите прав работает достаточно неспешно,
                                    но работает.
                                </div>
                                <div class="b-reviews__item-content">
                                    <div class="b-reviews__item-user">
                                        <div class="b-reviews__item-icon">

                                            <div class="svg-icon svg-icon--lk" aria-hidden="true">
                                                <svg class="svg-icon__link">
                                                    <use xlink:href="#lk"></use>
                                                </svg>
                                            </div>

                                        </div>
                                        <div class="b-reviews__item-in">
                                            <div class="b-reviews__item-name">Бессонова Полина, Тюмень</div>
                                            <div class="b-reviews__item-date">21 Марта, 2020</div>
                                        </div>
                                    </div>
                                    <div class="b-reviews__item-logo">
                                        <img src="/landing/img/akbars-logo.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- b-reviews -->
        <div id="faq" class="b-question">
            <div class="b-question__content site-width">
                <div class="b-question__block">
                    <h3 class="b-question__title">Вопрос-ответ</h3>
                    <div class="b-question__item">
                        <div class="b-question__item-title">

                            <div class="svg-icon svg-icon--question" aria-hidden="true">
                                <svg class="svg-icon__link">
                                    <use xlink:href="#question"></use>
                                </svg>
                            </div>

                            Мне точно вернут деньги после направления обращения?
                        </div>
                        <div class="b-question__item-text">
                            <p>
                                Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                                несколько абзацев более менее осмысленного текста рыбы на русском языке,
                                а начинающему оратору отточить навык публичных выступлений в домашни
                                условиях.
                            </p>
                            <p>
                                При создании генератора мы использовали небезизвестный универсальный код речей.
                                Текст генерируется абзацами случайным образом от двух до десяти предложений
                                в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-
                                слухового восприятия.
                            </p>
                        </div>
                    </div>
                    <div class="b-question__item">
                        <div class="b-question__item-title">

                            <div class="svg-icon svg-icon--question" aria-hidden="true">
                                <svg class="svg-icon__link">
                                    <use xlink:href="#question"></use>
                                </svg>
                            </div>

                            Я получал помощь раньше 2019 года, а на сайте только 2019 и 2020 год.
                            Почему я не могу оформить заявление?
                        </div>
                        <div class="b-question__item-text">
                            <p>
                                Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                                несколько абзацев более менее осмысленного текста рыбы на русском языке,
                                а начинающему оратору отточить навык публичных выступлений в домашни
                                условиях.
                            </p>
                            <p>
                                При создании генератора мы использовали небезизвестный универсальный код речей.
                                Текст генерируется абзацами случайным образом от двух до десяти предложений
                                в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-
                                слухового восприятия.
                            </p>
                        </div>
                    </div>
                    <div class="b-question__item">
                        <div class="b-question__item-title">

                            <div class="svg-icon svg-icon--question" aria-hidden="true">
                                <svg class="svg-icon__link">
                                    <use xlink:href="#question"></use>
                                </svg>
                            </div>

                            В списке нет моей страховой компании
                        </div>
                        <div class="b-question__item-text">
                            <p>
                                Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                                несколько абзацев более менее осмысленного текста рыбы на русском языке,
                                а начинающему оратору отточить навык публичных выступлений в домашни
                                условиях.
                            </p>
                            <p>
                                При создании генератора мы использовали небезизвестный универсальный код речей.
                                Текст генерируется абзацами случайным образом от двух до десяти предложений
                                в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-
                                слухового восприятия.
                            </p>
                        </div>
                    </div>
                    <div class="b-question__item">
                        <div class="b-question__item-title">

                            <div class="svg-icon svg-icon--question" aria-hidden="true">
                                <svg class="svg-icon__link">
                                    <use xlink:href="#question"></use>
                                </svg>
                            </div>

                            В списке нет моей больницы
                        </div>
                        <div class="b-question__item-text">
                            <p>
                                Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                                несколько абзацев более менее осмысленного текста рыбы на русском языке,
                                а начинающему оратору отточить навык публичных выступлений в домашни
                                условиях.
                            </p>
                            <p>
                                При создании генератора мы использовали небезизвестный универсальный код речей.
                                Текст генерируется абзацами случайным образом от двух до десяти предложений
                                в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-
                                слухового восприятия.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="b-question__image">
                    <img src="/landing/img/oic_question.svg" alt="">
                </div>
            </div>
        </div><!-- b-question -->
        <div class="b-info">
            <div class="b-info__content site-width">
                <div class="b-info__inner">
                    <h4 class="b-info__title">Безбахил в цифрах</h4>
                    <div class="b-info__block">
                        <div class="b-info__item">
                            <div class="b-info__item-image">
                                <img src="/landing/img/pic_n_1.svg" alt="">
                            </div>
                            <div class="b-info__item-number">100 500</div>
                            <div class="b-info__item-text">Страховых компаний <br>по всей России</div>
                            <div class="b-info__item-more">
                                <a href="#">Рейтинг компаний
                                    <div class="svg-icon svg-icon--arrow" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="b-info__item">
                            <div class="b-info__item-image">
                                <img src="/landing/img/pic_n_2.svg" alt="">
                            </div>
                            <div class="b-info__item-number">45 670</div>
                            <div class="b-info__item-text">Живых отзывов о страховых <br>компаниях на сайте</div>
                            <div class="b-info__item-more">
                                <a href="#">Посмотреть отзывы
                                    <div class="svg-icon svg-icon--arrow" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="b-info__item">
                            <div class="b-info__item-image">
                                <img src="/landing/img/pic_n_3.svg" alt="">
                            </div>
                            <div class="b-info__item-number">1000 чел.</div>
                            <div class="b-info__item-text">Уже воспользовались сервисом <br>Безбахил для возмещение <br>расходов на лечение
                            </div>
                            <div class="b-info__item-more">
                                <a href="#">Вернуть деньги
                                    <div class="svg-icon svg-icon--arrow" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="b-info__item">
                            <div class="b-info__item-image">
                                <img src="/landing/img/pic_n_4_empty.svg" alt="">
                                <div class="b-info__item-image-in">
                                    <img src="img/akbars-transparent-logo.png" alt="">
                                </div>
                            </div>
                            <div class="b-info__item-number">N0.1</div>
                            <div class="b-info__item-text">Страховая компания №1 <br>по России — АК Барс Мед</div>
                            <div class="b-info__item-more">
                                <a href="#">Подробнее
                                    <div class="svg-icon svg-icon--arrow" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- b-info -->
        <div class="b-return">
            <div class="b-return__content site-width">
                <div class="b-return__image b-return__image--left">
                    <img src="/landing/img/pic_woman.svg" alt="">
                </div>
                <div class="b-return__image b-return__image--right">
                    <img src="/landing/img/pic_man.svg" alt="">
                </div>
                <h2 class="b-return__title">Верните деньги</h2>
                <div class="b-return__text">за лечение в клиниках, работающих в системе обязательного медицинского страхования.</div>
                <div class="b-return__block">
                    <form action="#" class="b-form">
                        <div class="b-form__item b-form__item--full">
                            <div class="b-form__item-title">Ваш регион</div>
                            <div class="b-form__item-content">
                                <select>
                                    <option>Москва и область</option>
                                    <option>Название региона</option>
                                    <option>Еще ондно название</option>
                                    <option>Третье название</option>
                                    <option>Четвертое название Четвертое название</option>
                                    <option>Пятое название</option>
                                    <option>Шестое название</option>
                                    <option>Седьмое название</option>
                                </select>
                            </div>
                        </div>
                        <div class="b-form__item">
                            <div class="b-form__item-title">Год лечения</div>
                            <div class="b-form__item-content">
                                <select>
                                    <option>2019 г.</option>
                                    <option selected="">2020 г.</option>
                                </select>
                            </div>
                        </div>
                        <div class="b-form__item">
                            <div class="b-form__item-content">
                                <button class="b-form__button btn2" type="submit">Вернуть деньги</button>
                            </div>
                        </div>
                    </form><!-- b-form -->



                </div>
                <div class="b-return__link">
                    <a href="#">Рейтинг страховых компаний</a>
                </div>
            </div>
        </div><!-- b-return -->
        <div id="insider" class="b-insider">
            <div class="b-insider__content site-width">
                <div class="b-insider__header">
                    <h3 class="b-insider__title">Медицинский инсайдер</h3>
                    <a href="#" class="b-insider__button btn">Все статьи</a>
                </div>
                <div class="b-insider__inner">
                    <div class="b-insider__slider">
                        <div class="b-insider__item-wrap">
                            <div class="b-insider__item">
                                <div style="background-image: url(/landing/img/pic1.png);" class="b-insider__item-image">
                                    <img src="img/pic1.png" alt="">
                                </div>
                                <div class="b-insider__item-content">
                                    <div class="b-insider__item-title">Куда уходят страховые компании</div>
                                    <div class="b-insider__item-text">
                                        И что не так с полисами ВТБ МС
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-insider__item-wrap">
                            <div class="b-insider__item">
                                <div style="background-image: url(/landing/img/pic2.png);" class="b-insider__item-image">
                                    <img src="/landing/img/pic2.png" alt="">
                                </div>
                                <div class="b-insider__item-content">
                                    <div class="b-insider__item-title">Не пытайтесь повторить</div>
                                    <div class="b-insider__item-text">
                                        Почему лучше звонить страховому
                                        представителю и не пытаться отстаивать
                                        права самостоятельно
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-insider__item-wrap">
                            <div class="b-insider__item">
                                <div style="background-image: url(/landing/img/pic3.png);" class="b-insider__item-image">
                                    <img src="/landing/img/pic3.png" alt="">
                                </div>
                                <div class="b-insider__item-content">
                                    <div class="b-insider__item-title">Российский полис против китайского вируса</div>
                                    <div class="b-insider__item-text">
                                        Как лечат в России COVID-19
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-insider__item-wrap">
                            <div class="b-insider__item">
                                <div style="background-image: url(/landing/img/pic4.png);" class="b-insider__item-image">
                                    <img src="/landing/img/pic4.png" alt="">
                                </div>
                                <div class="b-insider__item-content">
                                    <div class="b-insider__item-title">Не пытайтесь повторить</div>
                                    <div class="b-insider__item-text">
                                        Почему лучше звонить страховому
                                        представителю и не пытаться отстаивать
                                        права самостоятельно
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="b-insider__item-wrap">
                            <div class="b-insider__item">
                                <div style="background-image: url(/landing/img/pic1.png);" class="b-insider__item-image">
                                    <img src="/landing/img/pic1.png" alt="">
                                </div>
                                <div class="b-insider__item-content">
                                    <div class="b-insider__item-title">Куда уходят страховые компании</div>
                                    <div class="b-insider__item-text">
                                        И что не так с полисами ВТБ МС
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-insider__item-wrap">
                            <div class="b-insider__item">
                                <div style="background-image: url(/landing/img/pic2.png);" class="b-insider__item-image">
                                    <img src="/landing/img/pic2.png" alt="">
                                </div>
                                <div class="b-insider__item-content">
                                    <div class="b-insider__item-title">Не пытайтесь повторить</div>
                                    <div class="b-insider__item-text">
                                        Почему лучше звонить страховому
                                        представителю и не пытаться отстаивать
                                        права самостоятельно
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-insider__item-wrap">
                            <div class="b-insider__item">
                                <div style="background-image: url(/landing/img/pic3.png);" class="b-insider__item-image">
                                    <img src="/landing/img/pic3.png" alt="">
                                </div>
                                <div class="b-insider__item-content">
                                    <div class="b-insider__item-title">Российский полис против китайского вируса</div>
                                    <div class="b-insider__item-text">
                                        Как лечат в России COVID-19
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-insider__item-wrap">
                            <div class="b-insider__item">
                                <div style="background-image: url(/landing/img/pic4.png);" class="b-insider__item-image">
                                    <img src="/landing/img/pic4.png" alt="">
                                </div>
                                <div class="b-insider__item-content">
                                    <div class="b-insider__item-title">Не пытайтесь повторить</div>
                                    <div class="b-insider__item-text">
                                        Почему лучше звонить страховому
                                        представителю и не пытаться отстаивать
                                        права самостоятельно
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- b-insider -->



    </div><!-- b:m-content -->

    <footer class="app-footer">
        <div class="app-footer__part app-footer__part--top">
            <div class="app-footer__content site-width">
                <div class="app-footer__activity">
                    Безбахил — первый бесплатный сервис,
                    помогающий вернуть деньги за лечение в клиниках,
                    работающих в системе обязательного медицинского
                    страхования.
                </div>
                <nav class="app-footer__list">
                    <ul>
                        <li><a href="#" class="js-scroll">Страховым организациям</a></li>
                        <li><a href="#" class="js-scroll">Контакты данные</a></li>
                        <li><a href="#rating" class="js-scroll">Рейтинг страховых </a></li>
                        <li><a href="#work" class="js-scroll">О нас</a></li>
                        <li><a href="#reviews" class="js-scroll">Отзывы</a></li>
                        <li><a href="#insider" class="js-scroll">Медицинский инсайдер</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="app-footer__part app-footer__part--bottom">
            <div class="app-footer__content site-width">
                <div class="app-footer__logo">
                    <img src="/landing/img/logo.png" alt="" width="94">
                </div>
                <div class="app-footer__in">
                    <div class="app-footer__copyright">
                        © bezbahil.ru, 2020
                    </div>
                    <div class="app-footer__agree">
                        <a href="#">Пользовательское соглашение</a>
                    </div>
                    <div class="app-footer__personal">
                        <a href="#">Политика по обработке персональных данных</a>
                    </div>
                </div>
                <div class="app-footer__soc">
                    <a href="#" target="_blank">

                        <div class="svg-icon svg-icon--soc_teleg" aria-hidden="true">
                            <svg class="svg-icon__link">
                                <use xlink:href="#soc_teleg"></use>
                            </svg>
                        </div>

                    </a>
                    <a href="#" target="_blank">

                        <div class="svg-icon svg-icon--soc_inst" aria-hidden="true">
                            <svg class="svg-icon__link">
                                <use xlink:href="#soc_inst"></use>
                            </svg>
                        </div>

                    </a>
                </div>
            </div>
        </div>
    </footer><!-- b:app-footer -->








</div><!-- b:wrapper -->



<button type="button" class="page-scroller">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20" class="page-scroller__ctrl">
        <path d="M2.582 13.891c-0.272 0.268-0.709 0.268-0.979 0s-0.271-0.701 0-0.969l7.908-7.83c0.27-0.268 0.707-0.268 0.979 0l7.908 7.83c0.27 0.268 0.27 0.701 0 0.969s-0.709 0.268-0.978 0l-7.42-7.141-7.418 7.141z"></path>
    </svg>
</button><!-- b:m-page-scroller -->


<script src="/landing/js/vendors/jquery-3.4.1.min.js"></script>
<script src="/landing/js/plugins.min.js"></script>
<script src="/landing/js/app.js"></script>

</body><!-- b:w-page -->
</html>
