@import './utils/vars';

.footer {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        @media screen and (min-width: 992px){
            max-width: 80vw;
        }
        @media screen and (min-width: 1440px){
            max-width: 70vw;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        @media(max-width: 991px){
            justify-content: center;
            margin-bottom: 2rem;
        }

        img {
            width: 10rem;
            max-width: 100%;
           @media sreen and(min-width: 992px){
               margin-right: 1rem;
           }
        }

        &_name {
            font-size: 1.4rem;
        }
    }

    &__developer{
        max-width: 12rem;
        width: 100%;
        margin-left: auto;
        text-align: right;
        @media(max-width: 991px){
            margin: 0 auto;
            text-align: center;
        }
        &_title{
            font-size: 1.2rem;
            margin-bottom: .5rem;
            display: inline-block;
        }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 2rem;

        li {
            text-align: center;
            a {
                font-size: 1.6rem;
                display: block;
                color: $mainColor;
                &:hover {
                    color: lighten($mainColor, 10%);
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .footer {
        padding: 4rem 1.5rem 4rem 1.5rem;
    
        &__container {
            flex-direction: row;
        }

        &__logo {
            width: 10%;
        }
    
        &__menu {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 0;
            
            li {
                text-align: left;
                margin-right: 2rem;
                a {
                    font-size: 1.8rem;
                }
            }
        }

        &__form {
            flex: 1;
            align-self: center;
        }
    }
}

@media screen and (min-width: 1400px) {
    .footer {
    
        &__menu {
            li {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}