@import './utils/reset';
@import './utils/vars';
@import './utils/mixins';
@import './utils/typografy';

@import './components/btns/btns';
@import './components/inputs/input';
@import './components/inputs/checkbox';
@import './components/inputs/select';
@import './components/inputs/search';

@import './components/block';
@import './components/breadcrumbs';
@import './components/modal';
@import './components/sidebar';
@import './components/star-rating';

@import './header.scss';
@import './footer.scss';

@import '../../node_modules/air-datepicker/dist/css/datepicker.min.css';

// Popup
@import '../../node_modules/magnific-popup/dist/magnific-popup.css';

// Styles for all pages
html {
    font-family: 'Rubik', sans-serif;
}

html,body {
    overflow-x: hidden;
    min-height: 100vh;
    background: $bgColor;
    color: $mainColor;
    line-height: 1.6;
}

h1 {
    font-size: 3.2rem;
}

a {
    text-decoration: none;
    color: $mainColor;
}

img {
    max-width: 100%;
}

button {
    &:focus, &:active, &:visited {
        outline: none;
    }
}

section {
    margin-bottom: 2rem;
}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 99.9vh;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.main {
    flex: 1;
}

main.main {
    margin: 0 auto;
    width: 100%;
    max-width: 137.5rem;
}

.white_block {
    background: white;
    padding: 2rem;
    margin-bottom: 2rem;
    position: relative;
    border: solid 0.1rem $accentColor;

    &:hover {
        @include boxShadow;
    }
}

.success {
    color: $succes;
}

.danger {
    color: red;
}
.hidden {
    display:none;
}
.color-main {
    background: $mainColor;
}

.star {
    height: 1.5rem;
}

.link-underline {
    text-decoration: underline;
    font-size: 1.2rem;
}

@media screen and (min-width: 992px) {
    section {
        margin-bottom: 5rem;
    }

    .link-underline {
        font-size: 1.6rem;
    }

    .white_block {
        position: relative;
        padding: 3rem;
        margin-bottom: 4rem;
        font-size: 1.4rem;
    }
}
.error{
    color: red;
}
.bold{
    font-weight: bold;
}
.input__wrap{
    position: relative;
}
/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */
/* total width */
.custom-serach__items::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* background of the scrollbar except button or resizer */
.custom-serach__items::-webkit-scrollbar-track {
    background-color:#fff
}

/* scrollbar itself */
.custom-serach__items::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff
}
.custom-serach__items::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
.custom-serach__items::-webkit-scrollbar-button {
    display:none
}

/* div box */
.custom-serach__items  {
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
}

/* total width */
.scrollbar::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
    background-color:#fff
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
    display:none
}

/* div box */
.scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
}
.custom-select{
    .select-items{
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 33rem;
        &::-webkit-scrollbar {
            background-color:#fff;
            width:16px
        }
        &::-webkit-scrollbar-track {
            background-color:#fff
        }
        &::-webkit-scrollbar-thumb {
            background-color:#babac0;
            border-radius:16px;
            border:5px solid #fff
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color:#a0a0a5;
            border:4px solid #f4f4f4
        }
        &::-webkit-scrollbar-button {
            display:none
        }
    }
}
//pagination
.title_count_page{
    opacity: .5;
    font-size: 1.6rem;
    display: block;
    padding: 0 .5rem;
    margin-bottom: 1rem;
}
.block_pagen{
    display: block;
    margin-bottom: 2rem;
    a{
        font-size: 1.4rem;
        display: inline-block;
        line-height: normal;
        transition: all .4s;
        padding: .5rem;
        &:hover{
            background-color: #c5d2e0;
            color: #3a4552;
        }
    }
    b{
        background-color: #3a4552;
        color: #fff;
        pointer-events: none;
        font-size: 1.4rem;
        display: inline-block;
        line-height: normal;
        padding: .5rem 1rem;
    }
}
textarea{
    resize: none;
}
.custom_styles_popup{
    max-width: 50rem;
    background: #fff;
    margin: 0 auto;
    position: relative;
    font-size: 1.6rem;
    padding: 4rem;
    @media (min-width: 992px) {
        padding: 6rem;
        width: 100%;
    }
    .mfp-close{
        background: url('/local/templates/kdteam/images/svg/close_modal.svg');
        background-size: contain;
        background-repeat: no-repeat;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
        opacity: 1;
        text-indent: 999999px;
        width: 4rem;
        @media(max-width: 991px){
            width: 2rem;
        }
    }
    a{
        text-decoration: underline;
    }
}
a{
    cursor: pointer;
}

CSS
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0;
}

input{
    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none; /* rest */
    border-radius: 0;
 }

 select {
    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none; /* rest */
    border-radius: 0 !important;
 }
 .select_block{
     select{
         background-image: url('/local/templates/kdteam/images/svg/sort-down.svg');
         background-size: 15px;
         background-repeat: no-repeat;
         background-position: 95% 50%;
         padding-right: 4rem;
     }
 }
 .title_medium{
     font-size: 2.6rem;
     margin: 2rem 0;
 }
 .right_content-reviews{
     text-align: right;
 }
 .inline_block{
     display: inline-block;
 }
 .dalete_review {
     cursor: pointer;
     color: red;
     font-weight: bold;
 }
 .add_reviews-select{
     @media(min-width: 992px){
         margin-right: 2rem;
     }
 }