@import './utils/reset';
@import './utils/mixins';
@import './utils/typografy';

@import './components/btns/btns';

@import './header.scss';
@import './footer.scss';

* {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

// Styles for all pages
html {
    font-family: 'Rubik', sans-serif;
}

html,body {
    overflow-x: hidden;
    min-height: 100vh;
    background: $bgColor;
}

h1 {
    font-size: 3.2rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 99.9vh;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.main {
    flex: 1;
}

main.main {
    margin: 0 auto;
    max-width: 137.5rem;
}