.DS_Store
Thumbs.db
/.idea/
/bitrix/cache/*
/bitrix/backup/*
/bitrix/managed_cache/*
/bitrix/stack_cache/*
/bitrix/tmp/*
/upload/*
/bitrix/php_interface/dbconn.php
/bitrix/.settings.php
.htaccess
robots.txt
*.txt
*.xml
*.log
*.csv
node_modules
/bitrix_logs/*
/laradock/php-fpm/msmtprc
/laradock/certbot/certs/*
/vendor/*
/var
/vendor
