@import '../../styles/utils/vars';


.error {
    color: red;
}

label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
}

.hidden_browse_input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.obrashcheniya {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    &.sended{
        pointer-events: none;
        &::before{
            content: 'Ваше обращение отправлено';
            position: absolute;
            margin-top: 41rem;
            font-size: 1.5rem;
            left: 50%;
            z-index: 1;
            transform: translateX(-50%);
            min-width: 320px;
            text-align: center;
        }
        &::after{
            background: url("/local/templates/kdteam/images/svg/paper-plane.svg");
            content: '';
            position: absolute;
            left: calc(50% - 10rem);
            width: 20rem;
            margin-top: 20rem;
            background-size: contain;
            height: 20rem;
            background-repeat: no-repeat;
        }
        .card{
            filter: blur(5px);
        }
    }
    &__btns {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        &_btn {
            margin-right: 2rem;
            @media screen and(max-width: 576px){
                margin-right: 0;
            }
        }
    }

    &__content {
        &_left {
            width: 100%;
            position: relative;
            padding-bottom: 2rem;
            margin-bottom: 2rem;

            &_top {
                margin-bottom: 2rem;

                &_text {
                    font-size: 1.6rem;
                    font-weight: 700;
                }

                &_data, &_link {
                    font-size: 1.2rem;
                }

                &_link {
                    text-transform: lowercase;
                }
            }

            &_center {
                &_item {
                    margin-bottom: 1rem;

                    &_text {
                        font-size: 1.4rem;
                        font-weight: 700;
                    }
                }
            }

            &:after {
                content: '';
                margin: 2rem 0;
                display: block;
                width: 100%;
                height: 0.1rem;
                bottom: 0;
                background-color: $accentColor;
            }
        }

        &_sidebar {
            font-size: 1.4rem;

            &_title {
                font-size: 1.6rem;
                font-weight: 700;
                margin-bottom: 2rem;
            }

            &_blocks {
                display: flex;
                align-items: center;
                margin-bottom: 2rem;
                margin-right: 1.5rem;

                &_img {
                    width: 5rem;
                    height: 5rem;
                    margin-right: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                &_text {
                    &_link {
                        text-decoration: underline;
                    }
                }
            }
            .delete_img_js{
                text-decoration: underline;
                margin-left: .5rem;
            }
            .block__items_flex{
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
    .tumbler_users-tab{
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 2rem;
        display: block;
        text-align: right;
        .user_block{
            &.tab_element{
                cursor: pointer;
                padding: .5rem 0;
            }
        }
    }
    .hidden_child-block{
        display: none;
        &.active{
            display: block;

        }
    }
    .select_toggle {
        position: relative;
        cursor: pointer;
        display: inline-block;
        .select-dropdown-child{
            display: none;
            position: absolute;
            top: 100%;
            left: auto;
            right: 0;
            flex-direction: column;
            z-index: 2;
            min-width: 22rem;
        }
        .arrow_link{
            position: relative;
            margin-right: 2rem;
            &::after {
                content: '';
                position: absolute;
                content: "";
                top: 60%;
                width: 0;
                height: 0;
                right: -2rem;
                border: .5rem solid transparent;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                border-color: #3a4552 transparent transparent transparent;
                transition: all .2s;
            }
        }

        &.active {
            .arrow_link::after {
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                border-color: transparent transparent #3a4552 transparent;
            }
            .select-dropdown-child{
                display: flex;
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .obrashcheniya {
        &__btns {
            display: flex;

            .smallMainBtn {
                margin-right: 2rem;
            }
        }
    }
}
@media(max-width: 575px){
    .obrashcheniya {
        &__btns {
            .block__button_send{
                display: block;
                width: 100%;
            }
            .block_button_mob{
                display: block;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .obrashcheniya {
        margin-bottom: 4rem;

        &__content {
            display: flex;
            flex-wrap: wrap;

            &_left {
                padding-bottom: 0;
                margin-bottom: 0;

                &_top {
                    position: relative;
                    display: flex;
                    align-content: center;
                    justify-content: space-between;
                    align-items: center;

                    &_text {
                        flex: 1;
                        max-width: 25rem;
                        min-width: 25rem;
                        margin-right: 1rem;
                    }

                    &_data {
                        flex: 2;
                        font-size: 1.6rem;
                    }

                    &_link {
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 1.4rem;

                        a {
                            margin-left: 2rem;
                        }
                    }
                }

                &_center {
                    &_item {
                        display: flex;
                        align-items: center;

                        &_text {
                            flex: 1;
                            max-width: 25rem;
                            min-width: 25rem;
                            margin-right: 1rem;
                        }

                        &_text-full {
                            flex: 2;
                        }
                    }
                }
            }
        }
    }
}
.input__wrap{
    &.no_margin{
        margin-bottom: 0;
        @media(max-width: 991px){
            margin-top: 1rem;
        }
    }
}

@media screen and (min-width: 1400px) {
    .obrashcheniya {
        margin-bottom: 5rem;
    }
}