<div class="news-wrapper__row-three">
    <a id="more-news" class="show-more__link show-more__link_block">
        ЗАГРУЗИТЬ ЕЩЕ {{ remainder }} {{ remainder | ending_format(['НОВОСТЬ', 'НОВОСТИ', 'НОВОСТЕЙ']) }}
    </a>
</div>