.block-recovery_pass{
  max-width: 50rem;
  margin: 0 auto;

  &__message {
    margin: 0;

    .alert{
      font-weight: normal;
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
  }

  &__text {
    font-size: 1.4rem;
  }

  &__link {
    text-decoration: underline;
  }

  .main-btn_fullwidth{
    max-width: 100%;
    width: 100%;
  }
}

.bx-authform-note-container{
  font-weight: bold;
  margin-bottom: 2rem;
}

.form-recovery_main{
  margin-top: 2rem;
}
