server {
	listen 80;

    server_name bezbahil.aw-dev.ru;
    index index.php;

#   auth_basic "Welcome to Accurateweb staging server";
#   auth_basic_user_file /var/www/.htpasswd;

    root /var/www/web;

    # Symfony
    location / {
        try_files $uri /app.php$is_args$args;
    }

    location ~ ^/app\.php(/|$) {
        fastcgi_pass php-fpm-symfony:9000;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;

        #fixes timeouts
        fastcgi_connect_timeout 600s;
		fastcgi_send_timeout 600s;
		fastcgi_read_timeout 600s;

        internal;
    }

#    location ~ ^/(app_dev|config)\.php(/|$) {
#        fastcgi_pass php-fpm-symfony:9000;
#        fastcgi_split_path_info ^(.+\.php)(/.*)$;
#        include fastcgi_params;
#        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
#        fastcgi_param DOCUMENT_ROOT $realpath_root;

        #fixes timeouts
#        fastcgi_connect_timeout 600s;
#        fastcgi_send_timeout 600s;
#        fastcgi_read_timeout 600s;
#    }

	location  ~* \.(css|js|gif|png|jpg|jpeg|ico|ogg|ttf|woff|eot|otf|woff2|pdf|webp|svg)$ {
		access_log off;
		error_page 404 /404.html;
        #expires 30d;
    }
}
