@import '../../styles/utils/vars';

.news_container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2rem;
}

.col-1 {
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.col-2 {
  width: 50%;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.news_item {
  display: flex;
  &_image {
    display: flex;
    align-self: flex-start;
    width: 40%;
    img {
      margin: 0 auto;
    }
  }

  &_content {
    width: 60%;
    padding: 0 1.5rem;

    &_title {
      font-size: 2.1rem;
      margin-bottom: 1rem;
      a {
        color: $title-color;
        font-family: $main-font-semibold;
      }
    }

    &_text {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }

    &_readmore, &_date {
      font-size: 1.4rem;
      color: $text-color-second;
    }
  }
}

.news-detail {
  display: flex;
  flex-wrap: wrap;

  &_image {
    width: 100%;
    max-height: 40rem;
    margin-bottom: 2rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.content-news {
  font-size: 1.6rem;
  &_title {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .news_item {
    flex-direction: column;
    &_image {
      width: 100%;
      margin-bottom: 2rem;
    }
  
    &_content {
      width: 100%;
      padding: 0;
    }
  }
}