<footer class="app-footer">
    <div class="app-footer__part app-footer__part--top">
        <div class="app-footer__content site-width">
            <div class="app-footer__activity">
                Безбахил — первый бесплатный сервис,
                помогающий вернуть деньги за лечение в клиниках,
                работающих в системе обязательного медицинского
                страхования.
            </div>
            <nav class="app-footer__list">
                <ul>
                    <li><a href="#" class="js-scroll">Страховым организациям</a></li>
                    <li><a href="#" class="js-scroll">Контакты данные</a></li>
                    <li><a href="#rating" class="js-scroll">Рейтинг страховых </a></li>
                    <li><a href="#work" class="js-scroll">О нас</a></li>
                    <li><a href="#reviews" class="js-scroll">Отзывы</a></li>
                    <li><a href="#insider" class="js-scroll">Медицинский инсайдер</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="app-footer__part app-footer__part--bottom">
        <div class="app-footer__content site-width">
            <div class="app-footer__logo">
                <img src="/landing/img/logo.png" alt="" width="94">
            </div>
            <div class="app-footer__in">
                <div class="app-footer__copyright">
                    © bezbahil.ru, 2020
                </div>
                <div class="app-footer__agree">
                    <a href="#">Пользовательское соглашение</a>
                </div>
                <div class="app-footer__personal">
                    <a href="#">Политика по обработке персональных данных</a>
                </div>
            </div>
            <div class="app-footer__soc">
                <a href="#" target="_blank">

                    <div class="svg-icon svg-icon--soc_teleg" aria-hidden="true">
                        <svg class="svg-icon__link">
                            <use xlink:href="#soc_teleg"></use>
                        </svg>
                    </div>

                </a>
                <a href="#" target="_blank">

                    <div class="svg-icon svg-icon--soc_inst" aria-hidden="true">
                        <svg class="svg-icon__link">
                            <use xlink:href="#soc_inst"></use>
                        </svg>
                    </div>

                </a>
            </div>
        </div>
    </div>
</footer>
