<!doctype html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="yandex-verification" content="3117711c7cf9d47f"/>
    <meta name="google-site-verification" content="6i-0zWPQEfVk1TaN63icBNxaPtFIwxrzlrG-w4oiTyg"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="bezbahil"/>
    <meta name="MobileOptimized" content="320">

    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="format-detection" content="telephone=no">

    <meta name="theme-color" content="">

    {% block metaDescription %}
        <meta name="description"
              content="Мы помогаем вернуть деньги за лечение по полису обязательного медицинского страхования: профессионально и бесплатно. Оформите заявку прямо сейчас!"/>
    {% endblock %}

    {% block title %}
        <title>Сервис «Без Бахил» сохраняет здоровье и деньги</title>
    {% endblock %}

    <link type="image/png" href="/landing/favicon.png" rel="icon">

    <link rel="apple-touch-icon" sizes="180x180" href="/landing/apple-touch-icon.png?v=zX7n49rwEM">
    <link rel="icon" type="image/png" sizes="32x32" href="/landing/favicon-32x32.png?v=zX7n49rwEM">
    <link rel="icon" type="image/png" sizes="16x16" href="/landing/favicon-16x16.png?v=zX7n49rwEM">
    <link rel="shortcut icon" href="/landing/favicon.ico?v=zX7n49rwEM">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://bezbahil.ru"/>
    <meta property="og:title" content="Bezbahil.ru"/>
    <meta property="og:site_name" content="Без Бахил. Лечись бесплатно!"/>
    <meta property="og:description" content="Сервис bezbahil — сохраняет здоровье и деньги."/>
    <meta property="og:locale" content="ru_RU"/>
{#    <meta property="og:image" content="http://bezbahil.docker/local/templates/kdteam/images/png/header/logo-oms-white.png"/>#}
    <meta property = "og:image" content="https://bezbahil.ru/local/templates/kdteam/images/png/header/logo-oms-white.jpg"/>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <!-- Адмитад -->
    <meta name="verify-admitad" content="d368515aeb"/>
    <!-- /Адмитад -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://bezbahil.ru">
    <meta property="twitter:title" content="">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="https://okc.media/bb/img/bb-default.png">

    <link rel="image_src" href="https://bezbahil.ru/local/templates/kdteam/images/png/header/logo-oms-white.jpg"/>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@700&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="/landing/css/plugins.min.css">
    {% endblock %}

    <script type="text/javascript">urlPrefix = '{{ app.request.getBaseURL() }}'</script>
</head>

<body class="app v2">

{% include './SvgSprites/svgSprites.html.twig' %}

<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Start Wrap -->
<div class="app__wrapper">
    <!-- Header -->
    {% block header %}
        {{ render(controller('AppBundle:Common:_header')) }}
    {% endblock %}
    <!-- Content -->
    {% block main %}{% endblock %}
    <!-- Footer -->
    {% include '_footer.html.twig' %}

</div><!-- END Wrap -->

<button type="button" class="page-scroller">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20"
         height="20" viewBox="0 0 20 20" class="page-scroller__ctrl">
        <path d="M2.582 13.891c-0.272 0.268-0.709 0.268-0.979 0s-0.271-0.701 0-0.969l7.908-7.83c0.27-0.268 0.707-0.268 0.979 0l7.908 7.83c0.27 0.268 0.27 0.701 0 0.969s-0.709 0.268-0.978 0l-7.42-7.141-7.418 7.141z"></path>
    </svg>
</button><!-- b:m-page-scroller -->

{% block javascripts %}
    <script src="/landing/js/vendors/jquery-3.4.1.min.js"></script>
    <script src="/landing/js/plugins.min.js"></script>
{% endblock %}

</body>

</html>
