<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta name="yandex-verification" content="3117711c7cf9d47f" />
        <meta name="google-site-verification" content="6i-0zWPQEfVk1TaN63icBNxaPtFIwxrzlrG-w4oiTyg" />
    {% endblock %}

    <title>{% block title %}<?php $APPLICATION->ShowTitle(); ?>{% endblock %}</title>

    <link rel="shortcut icon" href="/local/templates/kdteam/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <?php $APPLICATION->ShowHead(); ?>
    <meta property = "og:image" content="https://bezbahil.ru/local/templates/kdteam/images/png/header/logo-oms-white.jpg"/>
    <link rel="image_src" href="https://bezbahil.ru/local/templates/kdteam/images/png/header/logo-oms-white.jpg" />

    {% block stylesheets %}
        <link href="/local/templates/kdteam/styles/main.min.css?158626847559632" type="text/css"  data-template-style="true"  rel="stylesheet" />    {% endblock %}
    <?php
    $asset->addCss(SITE_TEMPLATE_PATH . "/styles/main.min.css");
    $asset->addJs(SITE_TEMPLATE_PATH . "/js/main.min.js");

    CModule::IncludeModule("iblock");
    ?>

{#    <?php if ($_SERVER[REQUEST_URI] === '/') { ?>#}
{#    <script type="application/ld+json">#}
{#        {#}
{#            "@context": "http://schema.org/",#}
{#            "@type": "WebSite",#}
{#            "name": "Без Бахил",#}
{#            "url": "https://bezbahil.ru/"#}
{#        }#}
{#    </script>#}
{#    <?php }?>#}

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)

                [0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(57673804, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/57673804" style="position:absolute;

left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->


    <!-- Google Tag Manager -->
    <script data-skip-moving="true">
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N3VBFGG');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Адмитад -->
    <meta name="verify-admitad" content="d368515aeb" />
    <!-- /Адмитад -->
    <!--  JivoSite -->
    <script src="//code-ya.jivosite.com/widget/u0hymF3kCA" async></script>
    <!-- / JivoSite -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3VBFGG"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<?php $APPLICATION->ShowPanel();
?>

<!-- Start Wrap -->
<div class="wrap" <?php if ($APPLICATION->GetCurDir() === '/') {?> <?php } ?>>
<!-- Header -->
<header class="header">
    <div class="header__container">
        <a class="header__logo" href="/">
            <img class="header__logo_img" src="/local/templates/kdteam/images/png/header/logo-oms-white.png"
                 alt="OMS">
        </a>




        <?php
            global $USER;
            $ID_USER = $USER->GetID();
        if ($USER->IsAuthorized()) { ?>
        <div class="header__r"><img class="header__r_auth_login_img" src="/images/message.svg" alt="OMS">
            <a style="font-size: 2rem; color: #fff; display: flex; padding-right: 2rem;padding-left: 1rem;" href="/vopros-otvet/"><span class="header__r_auth_user_hello">Вопрос - Ответ</span></a>
            <a rel="nofollow" href="javascript:void(0)" id="show-mnu" class="header__r_auth_user">
                        <span class="header__r_auth_user_hello">
                            Добрый день,
                        </span>

                <span class="header__r_auth_user_name"><?php echo $USER->GetFullName();?> !</span>
            </a>

            <!-- #menu -->
            <ul id="menu" class="header__r_nav">
                <li>
                    <a href="/personal-cabinet/">Личный кабинет</a>
                </li>

                <li>
                    <!-- Если есть обращения в админке добавляем класс active -->
                    <!-- И показываем блок с колличеством обращений -->
                    <?php
                                //Количество обращений
                                if (CModule::IncludeModule("iblock")) {
                                    $arFilterSect = array('IBLOCK_ID' => 11, "UF_USER_ID" => $ID_USER);
                    $rsSect = CIBlockSection::GetList(array(), $arFilterSect);
                    if ($arSect = $rsSect->GetNext()) {
                    $arSelect = array("ID", "NAME", "DATE_ACTIVE_FROM");
                    $arFilter = array("IBLOCK_ID" => 11, "!PROPERTY_SEND_REVIEW" => 3,
                    "IBLOCK_SECTION_ID" => $arSect["ID"], "ACTIVE" => "Y");
                    $res = CIBlockElement::GetList(
                    array(),
                    $arFilter,
                    false,
                    false,
                    $arSelect
                    );
                    while ($ob = $res->GetNextElement()) {
                    $arFields[] = $ob->GetFields();
                    }
                    $countAppeals = count($arFields);
                    }
                    }
                    ?>
                    <a class="active" href="/obrashcheniya/">
                        <div id="number_calls" class="menu-req">
                            <?php echo $countAppeals?>
                        </div>

                        <span class="header__r_nav_text">Ваши обращения</span>
                    </a>

                </li>

                <li>
                    <!-- Если есть обращения в админке добавляем класс active -->
                    <!-- И показываем блок с колличеством обращений -->
                    <?php
                                //Количество обращений
                                if (CModule::IncludeModule("iblock")) {

                                    $arSelect = Array("ID", "IBLOCK_ID", "NAME",);
                                    $arFilter = Array("IBLOCK_ID"=>13, "PROPERTY_NAME_USER"=>$ID_USER );
                    $res = CIBlockElement::GetList(Array(), $arFilter, false, false, $arSelect);
                    $count_reviews = $res->SelectedRowsCount();
                    }

                    ?>

                    <a class="" href="/reviews/">
                        <div id="number_calls" class="menu-req">
                            <?php echo $count_reviews?>
                        </div>

                        <span class="header__r_nav_text">Ваши отзывы</span>
                    </a>
                </li>

                <li>
                    <a href="/otpravlennyye/">
                        <div class="menu-req">
                            <?php
                                    $arFilter = array("IBLOCK_ID" => 11, "UF_USER_ID" => $ID_USER);
                            $section = CIBlockSection::GetList(
                            array(),
                            $arFilter,
                            false,
                            false,
                            false
                            );  // получили секцию по айди юзера
                            if ($Section = $section->GetNext()) {
                            $arFilter = array("IBLOCK_ID" => 11,
                            "SECTION_ID" => $Section["ID"],"PROPERTY_SEND_REVIEW_VALUE" => 1);
                            $Element = CIBlockElement::GetList(
                            array(),
                            $arFilter,
                            false,
                            false,
                            false
                            ); //получили обращения юзера
                            $obElement = $Element->SelectedRowsCount();

                            } ?><?= $obElement ?>
                        </div>
                        <span class="header__r_nav_text">Отправленные</span>
                    </a>
                </li>

                <a class="header__r_nav_link" href="/ajax/logout.php">Выйти</a>
            </ul>

            <!-- <div class="header__r_auth">
                <div class="header__r_auth_user-image">
                    <?php
                    $rsUser = CUser::GetByID($ID_USER);
                    $person = $rsUser->Fetch();

                    $file = CFile::ResizeImageGet($person["PERSONAL_PHOTO"], array('width'=>50, 'height'=>50), BX_RESIZE_IMAGE_PROPORTIONAL, true);
                    if($url != "/personal-cabinet/") {
                        if ($person['UF_INSURANCE_COMPANY'] != '') {
                        if (CIBlockElement::GetByID($person['UF_INSURANCE_COMPANY'])->SelectedRowsCount() != 0) {
                            $res = CIBlockElement::GetByID($person['UF_INSURANCE_COMPANY'])->GetNextElement()->GetFields();
                        if ($res["ACTIVE"] != "Y") {
                            ?>

                            <script> $('body').css({'overflow': 'hidden'});
                              setTimeout(function() {
                                $.magnificPopup.open({
                                  items: {
                                    src: '<div class="white-popup custom_styles_popup">'+
                                    '<p>Уважаемый пользователь!</p>'+
                                    '<p>Страховая компания, указанная в вашем личном кабинете, прекратила свою '+
                                    'деятельность. Формирование обращения в адрес страховой компании недоступно. '+
                                    'Для выяснения своей страховой принадлежности и дальнейших действий по выбору '+
                                    'СМО необходимо обратиться в территориальный фонд ОМС своего региона. '+
                                    'После того, как определитесь с новой страховой компанией и сделаете '+
                                    'отметку на полисе ОМС, укажите ее данные в '+
                                    '<a href="/personal-cabinet/"> личном кабинете </a>.</p></div>',
                                    type: 'inline',
                                  },
                                });
                                $('body').css({'overflow': 'initial'});
                              }, 1000);</script>
                        <? }
                        }else{
                        ?>
                            <script> $('body').css({'overflow': 'hidden'});
                              setTimeout(function() {
                                $.magnificPopup.open({
                                  items: {
                                    src: '<div class="white-popup custom_styles_popup">'+
                                    '<p>Уважаемый пользователь!</p>'+
                                    '<p>Страховая компания, указанная в вашем личном кабинете, прекратила свою '+
                                    'деятельность. Формирование обращения в адрес страховой компании недоступно. '+
                                    'Для выяснения своей страховой принадлежности и дальнейших действий по выбору '+
                                    'СМО необходимо обратиться в территориальный фонд ОМС своего региона. '+
                                    'После того, как определитесь с новой страховой компанией и сделаете '+
                                    'отметку на полисе ОМС, укажите ее данные в '+
                                    '<a href="/personal-cabinet/"> личном кабинете </a>.</p></div>',
                                    type: 'inline',
                                  },
                                });
                                $('body').css({'overflow': 'initial'});
                              }, 1000);</script>
                        <?
                        } ?>

                        <? }else{
                        ?>
                            <script> $('body').css({'overflow': 'hidden'});
                              setTimeout(function() {
                                $.magnificPopup.open({
                                  items: {
                                    src: '<div class="white-popup custom_styles_popup">'+
                                    '<p>Уважаемый пользователь!</p>'+
                                    '<p>Страховая компания, указанная в вашем личном кабинете, прекратила свою '+
                                    'деятельность. Формирование обращения в адрес страховой компании недоступно. '+
                                    'Для выяснения своей страховой принадлежности и дальнейших действий по выбору '+
                                    'СМО необходимо обратиться в территориальный фонд ОМС своего региона. '+
                                    'После того, как определитесь с новой страховой компанией и сделаете '+
                                    'отметку на полисе ОМС, укажите ее данные в '+
                                    '<a href="/personal-cabinet/"> личном кабинете </a>.</p></div>',
                                    type: 'inline',
                                  },
                                });
                                $('body').css({'overflow': 'initial'});
                              }, 1000);</script>
                        <?
                        }
                    }

                    ?>

                  <img src="-->
            <?//=$file["src"]?>
            <!--" alt="">
                </div>
            </div> -->
        </div>
        <?php } else { ?>

        <div class="header__r" style="display: flex;">
            <div class="header__r_auth">
<span class="header__r_auth_login">
<img class="header__r_auth_login_img" src="/images/message.svg" alt="OMS">
<a style="font-size: 2rem;" href="/vopros-otvet/"><div class="header__r_auth_login_text">Вопрос - Ответ</div></a></span>
                <span href="<?= SITE_TEMPLATE_PATH . "/includes/ajax-auth-login.php"?>" id="login-link"
                class="header__r_auth_login">
                <img class="header__r_auth_login_img"
                     src="/images/key.svg" alt="OMS">
                <div class="header__r_auth_login_text">
                    Вход
                </div>
                </span>

                <span href="<?= SITE_TEMPLATE_PATH . "/includes/ajax-auth-reg.php"?>" id="reg-link"
                data-rigstration="0" class="header__r_auth_reg">
                <img class="header__r_auth_login_img"
                     src="/images/edit.svg" alt="OMS">
                <div class="header__r_auth_login_text">
                    Регистрация
                </div>
                </span>
            </div>

            <span href="<?= SITE_TEMPLATE_PATH . "/includes/ajax-feedback.php"?>"
            class="header__r_mainBtn headerBtn" id="write-us_modal">
            <svg style="fill: #ffffff; width: 2rem; height: 3rem;"
                 class="header__r_auth_login_img hidden-desk--image" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 512 512">
                <path
                        d="M486.4 59.733H25.6c-14.138 0-25.6 11.461-25.6 25.6v341.333c0 14.138 11.461 25.6 25.6 25.6h460.8c14.138 0 25.6-11.461 25.6-25.6V85.333c0-14.138-11.461-25.6-25.6-25.6zm8.533 366.934a8.533 8.533 0 01-8.533 8.533H25.6a8.533 8.533 0 01-8.533-8.533V85.333A8.533 8.533 0 0125.6 76.8h460.8a8.533 8.533 0 018.533 8.533v341.334z" />
                <path
                        d="M470.076 93.898a8.53 8.53 0 00-6.229 1.966L266.982 261.239a17.068 17.068 0 01-21.965 0L48.154 95.863a8.535 8.535 0 00-10.974 13.073l196.864 165.367c12.688 10.683 31.224 10.683 43.913 0L474.82 108.937a8.532 8.532 0 001.049-12.023 8.524 8.524 0 00-5.793-3.016zM164.124 273.13a8.535 8.535 0 00-8.229 2.65l-119.467 128a8.532 8.532 0 1012.476 11.639l119.467-128a8.532 8.532 0 00-4.247-14.289zM356.105 275.78a8.534 8.534 0 10-12.476 11.639l119.467 128a8.533 8.533 0 0012.476-11.64L356.105 275.78z" />
            </svg>

            <div class="hidden-text-mob">
                Написать нам
            </div>
            </span>
        </div>
        <?php } ?>
    </div>
</header>
<!-- Content -->
<main class="main">
        {% block main %}{% endblock %}
    <?php
if (defined("B_PROLOG_INCLUDED") && B_PROLOG_INCLUDED === true) {
    require_once($_SERVER["DOCUMENT_ROOT"] . "/bitrix/modules/main/include/epilog.php");
}
?>
</main>

<!-- Footer -->
<footer class="footer">
    <div class="footer__container">
        <div class="footer__logo">
            <img src="<?= SITE_TEMPLATE_PATH ?>/images/png/logo-footer-white.png" alt="OMS">
        </div>

        <ul class="footer__menu">
            <li>
                <a href="/insurance-companies/">Страховым организациям</a>
            </li>
            <li>
                <a href="/about/">О нас</a>
            </li>
            <li>
                <a href="/contact_us/">Контакты</a>
            </li>
            <li>
                <a href="/feedback/">Отзывы</a>
            </li>
            <li>
                <a href="/news/">Новости</a>
            </li>
            <li>
                <a href="/terms-of-use/">Пользовательское соглашение</a>
            </li>
            <li>
                <a href="/personal-data-processing/">Политика по обработке персональных данных</a>
            </li>
        </ul>

        <div class="footer__developer">
            <span class="footer__developer_title">Разработали сайт:</span>
            <div class="footer__developer_content">
                <a href="http://kdteam.su/" target="_blank">
                    <svg class="footer__developer_content_image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 210 41">
                        <g fill-rule="nonzero" fill="none">
                            <path fill="#FF4653" d="M25.8 5l-5-5-20 20 20 20.1 5-5-15-15.1z"></path>
                            <path fill="#1EC89E" d="M25.781 24.92l14.99-14.991 5.021 5.02-14.99 14.99z"></path>
                            <path fill="#2541B1" d="M50.8 0l-5 5 15 15-15 15.1 5 5 20-20.1z"></path>
                            <g fill="#2541B1">
                                <path d="M90.5 30.7h-4.7V9h4.7v21.7zM97.1 9h5.5l-6.8 10.6 7.4 11.2h-5.9l-6.7-10.9v-.1L97.1 9zM105.9 9h6.8c7.1 0 10.3 3.4 10.3 10.4 0 5.5-2.2 11.3-10.2 11.3H106V9h-.1zm4.7 17.8h1.7c4.4 0 5.7-2.8 5.7-7 0-5.2-2.3-6.9-5.7-6.9h-1.7v13.9zM129.5 12.9h-5.4V9h15.5v3.9h-5.4v17.8h-4.7zM155.6 29.1c-1.4 1.1-3.1 2-6.4 2-5.5 0-8.3-3.1-8.3-9.1 0-5.7 3.2-9 8.2-9 4.5 0 7 2.8 7 7.1 0 .9 0 1.8-.2 3.1h-10.4c.1 2.8 1.3 4.3 4.3 4.3 1.9 0 3.2-.9 3.8-1.6l2 3.2zM145.5 20h6.2v-.5c0-2-.9-3.1-2.8-3.1-2.1 0-3.3 1.6-3.4 3.6zM172 18.7v7c0 1 .4 1.4 1.2 1.4h.5v3.2c-.7.5-1.5.6-2.3.6-1.7 0-2.6-.8-3.2-1.9h-.1c-.7.9-2 2-4.5 2-3.4 0-5.2-2.3-5.2-4.8 0-4 3.6-5.9 9.1-5.6v-1.4c0-2-1.1-2.5-2.5-2.5-1.7 0-2.6 1-3 2l-3.3-2.4c.7-1 2.4-3.3 6.3-3.3 4.6-.1 7 1.5 7 5.7zm-4.4 5c-3.1-.2-4.6.5-4.6 2 0 1 .7 1.7 1.9 1.7 1.1 0 2.2-.5 2.7-1.2v-2.5zM195.4 12.8c3.4 0 5.4 1.8 5.4 5.8v12.1h-4.7V19.5c0-2-1.1-2.7-2.3-2.7-1.2 0-2.4.8-2.9 2v12h-4.7v-11c0-2-.9-3.1-2.5-3.1-1.1 0-2.3.9-2.7 2.1v11.9h-4.7V13.2h3.8l.8 1.6h.1c1.1-1.4 2.9-2 4.6-2 2.7 0 3.7 1.1 4.4 2.4h.1c1.1-1.2 2.8-2.4 5.3-2.4z"></path>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>


</div><!-- END Wrap -->
</body>
{% block javascripts %}
    <script src="/local/templates/kdteam/js/validator.min.js"></script>
{% endblock %}
</html>
<?php

 $arSelect = Array("ID", "IBLOCK_ID", "NAME", "PROPERTY_TITLE", "PROPERTY_KEYWORDS", "PROPERTY_DESCRIPTION");
$arFilter = Array("IBLOCK_CODE"=>"seo", "%NAME"=>  $APPLICATION->GetCurDir());
$res = CIBlockElement::GetList(Array(), $arFilter, false, false, $arSelect);
if($ob = $res->GetNextElement()){
$arProps = $ob->GetFields();
if($arProps["PROPERTY_TITLE_VALUE"]) {
$APPLICATION->SetPageProperty("title", $arProps["PROPERTY_TITLE_VALUE"]);
}
if($arProps["PROPERTY_KEYWORDS_VALUE"]) {
$APPLICATION->SetPageProperty("keywords", $arProps["PROPERTY_KEYWORDS_VALUE"]);
}
if($arProps["PROPERTY_DESCRIPTION_VALUE"]) {
$APPLICATION->SetPageProperty("description", $arProps["PROPERTY_DESCRIPTION_VALUE"]);
}
} ?>
