# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: mysql
    database_port: ~
    database_name: '%env(MYSQL_DATABASE)%'
    database_user: '%env(MYSQL_USER)%'
    database_password: '%env(MYSQL_PASSWORD)%'
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: '%env(MAILER_TRANSPORT)%'
    mailer_host: '%env(MAILER_HOST)%'
    mailer_user: '%env(MAILER_USER)%'
    mailer_password: '%env(MAILER_PASSWORD)%'
    mailer_port: '%env(MAILER_PORT)%'
    mailer_from: '%env(MAILER_FROM)%'
    mailer_sender_name: '%env(MAILER_SENDER_NAME)%'
    mailer_encryption: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    api_token: 31409EDCC223DB7DAA72C54EE0107B9F

    appeal_path_pdf: '/var/www/var/uploads/pdf/'
    appeal_path_attached: '/var/www/web'

    rabbitmq_host: rabbitmq
    rabbitmq_port: 5672
    rabbitmq_user: '%env(RABBITMQ_DEFAULT_USER)%'
    rabbitmq_password: '%env(RABBITMQ_DEFAULT_PASS)%'
    rabbitmq_project_vhost: /

    router.request_context.host: '%env(REQUEST_DEFAULT_HOST)%'
    router.request_context.scheme: '%env(REQUEST_DEFAULT_SCHEME)%'

    sms_private_key: '%env(SMS_PRIVATE_KEY)%'
    sms_public_key: '%env(SMS_PUBLIC_KEY)%'
    sms_url: http://atompark.com/api/sms/
    sms_protocol_version: 3.0

# Environment variable defaults
    env(MYSQL_USER): root
    env(MYSQL_PASSWORD): ~
    env(MYSQL_DATABASE): dbbezbahil

    env(RABBITMQ_DEFAULT_USER): guest
    env(RABBITMQ_DEFAULT_PASS): d1cda7935c7a917e6ced3080e890242e

    env(REQUEST_DEFAULT_HOST): 'bezbahil.ru'
    env(REQUEST_DEFAULT_SCHEME): 'https'

    env(MAILER_TRANSPORT): smtp
    env(MAILER_HOST): maildev
    env(MAILER_USER): null
    env(MAILER_PASSWORD): null
    env(MAILER_PORT): 25
    env(MAILER_FROM): info@accurateweb.ru
    env(MAILER_SENDER_NAME): Безбахил

    env(SMS_PRIVATE_KEY): b92986f663c0596737dfcb773f6eca17
    env(SMS_PUBLIC_KEY): 6bd53830b4d07adbb4f2e4df6bd67ccc