# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: mysql
    database_port: ~
    database_name: '%env(MYSQL_DATABASE)%'
    database_user: '%env(MYSQL_USER)%'
    database_password: '%env(MYSQL_PASSWORD)%'
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: ~
    mailer_user: ~
    mailer_password: ~
    mailer_port: ~
    mailer_from: ~
    mailer_sender_name: ~
    mailer_encryption: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    api_token: 31409EDCC223DB7DAA72C54EE0107B9F

# Environment variable defaults
    env(MYSQL_USER): root
    env(MYSQL_PASSWORD): ~
    env(MYSQL_DATABASE): dbbezbahil

    rabbitmq_host: rabbitmq
    rabbitmq_port: 5672
    rabbitmq_user: guest
    rabbitmq_password: guest
    rabbitmq_project_vhost: '/'