.registration-form {
    max-width: 40vw;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.input__wrap {
    position: relative;
}

#auth-form-reg .sms-error {
    position: relative;
}

.confirmed-form {
    max-width: 50rem;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}