@import './../../styles/utils/vars';

.otpravlennyye {
    margin-bottom: 2rem;

    &__item {
        &_title {
            font-size: 1.6rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        &_data {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }
    }
    .sent-mail-block{
        display: flex;
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: solid .1rem $accentColor;
        .logo_block {
            width: 10rem;
            margin-right: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @media(max-width: 575px){
                width: 20rem;
            }
        }
        a{
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 1200px) {
    .otpravlennyye {
        margin-bottom: 2rem;
    
        &__item {
            &_title {
                font-size: 1.8rem;
                margin-bottom: 2rem;
            }
    
            &_data {
                font-size: 1.6rem;
                margin-top: 1rem;
                margin-bottom: 3rem;
            }
        }
    }
}