.lk {
  width: 100%;
  max-width: 1300px;
  padding: 170px 16px 93px;
  margin: 0 auto;
  flex: 1 0 auto;

  &__nav {
    background: #DDE8FE;
    border-radius: 10px;
    padding: 12px 40px 10px;

    &__item:first-child {
      margin-left: 0;
    }
    &__item {
      list-style-type: none;
      margin: 0 25px;
      line-height: 33px;
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;

      a {
        color: #000000;

        .special-offer-quantity {
          display: inline-block;
          background-color: #17A44C;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          margin-left: 5px;
          text-align: center;
          vertical-align: middle;
          line-height: 22px;
          color: white;
        }
      }

      &_active {
        a {
          color: #00ABD8;
        }
      }
    }
    &__item:last-child {
      margin-right: 0;
    }

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      flex-wrap: wrap;
    }
  }

  &__title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    color: #134469;
    margin: 77px 0 51px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    &__big-content {
      margin-right: 20px;
      width: 894px;
      padding: 3% 3.5%;

      &__title {
        font-family: Playfair Display;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 27px;
        color: #134469;

        img {
          margin-left: 17px;
        }
      }

      &__appeal-history {
        &__year {
          height: 36px;
          padding-left: 15px;
          background: #F4FBFF;
          line-height: 36px;
          font-size: 14px;
          color: #535353;
        }

          &__appeal-item {
            display: flex;
            width: 100%;
            border-bottom: 1px solid #E5E5E5;
            padding: 18px 5px 17px 15px;
            font-family: Arial;
            font-size: 14px;
            color: #000000;
            min-height: 70px;

            .appeal-item {
              &__date, &__name, &__medical-institution, &__insurance-company {
                margin: auto 0;
              }

              &__date {
                min-width: 80px;
                width: 80px;
                color: #535353;
              }

              &__name {
                width: 33.3%;
                margin-left: 20px;
                margin-right: 10px;
                word-wrap: break-word;
              }

              &__medical-institution {
                width: 66.6%;
                margin-left: 10px;
                margin-right: 20px;
                word-wrap: break-word;
              }

              &__insurance-company {
                min-width: 120px;
                width: 120px
              }
            }

            div {
              line-height: 18px;
            }
          }

          &__appeal-item:last-child {
            border: none;
            margin-bottom: 10px;
            padding-bottom: 18px;
          }
      }
      .lk__content__big-content &__more-content-button {
        margin-top: 5px;
        width: 235px;
      }
    }
      &__small-content {
        display: flex;
        flex-direction: column;
        width: 346px;
        justify-content: space-between;

        &__insurance-companies {
          padding: 10% 12%;
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 20px;
          .insurance-companies {
            &__title {
              font-size: 14px;
              line-height: 19px;
              color: #000000;
              width: 100%;
            }

            &__logo {
              margin: 16px 0 16px -11px;
              min-width: 215px;
            }

            &__phone {
              &__main {
                font-weight: bold;
                font-size: 30px;
                line-height: 19px;
                margin-bottom: 14px;
              }

              &__additional {
                font-size: 14px;
                line-height: 19px;
              }
            }
          }
        }

        &__reviews {
          padding: 10% 12%;

          .reviews {
            &-title {
              font-family: Playfair Display;
              font-size: 30px;
              line-height: 40px;
              color: #134469;
              margin-bottom: 20px;

              img {
                margin-left: 17px;
              }
            }

            &-item {
              margin-bottom: 13px;

              &__info {
                display: flex;
                justify-content: space-between;

                &__date, &__status {
                  font-size: 14px;
                  line-height: 33px;
                }

                &__date {
                  color: #535353;
                }

                &__status {
                  color: #FA7167;
                }
              }

              &__text {
                font-size: 14px;
                line-height: 19px;
                color: #000000;
              }
            }

            &-all-reviews {
              margin-top: 25px;
              width: 100%;
              max-width: 235px;
            }
          }
        }
      }


    .lk-border {
      border: 1px solid #DEE8FD;
      box-sizing: border-box;
      box-shadow: -4.5px 34px 66px #EEEEEE;
      border-radius: 10px;
      background: #FFFFFF;
    }
  }
}

@media screen and (max-width: 1080px) {
  .lk {
    padding: 170px 16px 47px;
    &__title {
      display:none;
    }
    &__content {
      margin-top: 44px;
      width: 100%;
      flex-direction: column;
      &__big-content {
        width: 100%;
      }
      &__small-content {
        width: 100%;
        &__insurance-companies {
          margin: 30px 0 26px;
          padding: 27px 36px;
          .insurance-companies {
            &__title {
              margin-bottom: 16px;
            }
            &__logo {
              margin: 0 0 0 -11px;
              width: 50%;
            }
            &__phone {
              width: 50%;
            }
          }
        }
        &__reviews {
          padding: 27px 36px;
          .reviews-item {
            &__info {
              justify-content: unset;
              &__date {
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .lk {
    &__content {
      &__big-content {
        padding: 24px 37px 37px 35px;
        &__title {
          font-family: Playfair Display;
          font-size: 40px;
          line-height: 53px;
          color: #134469;
          margin-bottom: 20px;
          display: inherit;
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .lk {
    &__nav{
      display: none !important;
    }
    padding-top:74px;
    &__content__small-content__insurance-companies {
      justify-content: space-between;
      .insurance-companies {
        &__logo {
          margin: 0 20px 0 0;
          width: 215px;
        }
      }
    }
  }
}
@media screen and (max-width: 582px) {
  .app__wrapper {
    .lk {
      padding-left: 0;
      padding-right: 0;

      &__content {
        margin-top: 0;
        &__big-content {
          border: none;
          box-shadow: none;
          margin-top: 0;
          padding: 0;

          &__title {
            font-size: 30px;
            line-height: 40px;
            margin: 31px 15px 25px;
          }

          &__appeal-history {
            &__appeal-item {
              flex-wrap: wrap;
              justify-content: space-between;
              padding: 10px 15px;

              .appeal-item {
                &__name {
                  text-align: end;
                }

                &__medical-institution {
                  width: 100%;
                  margin: 10px 0 5px;
                }
              }
            }
          }

          &__more-content-button {
            width: calc(100% - 30px);
            margin-left: 15px;
            margin-right: 15px;
          }
        }
        &__small-content {
          &__insurance-companies {
            padding: 28px 22px 26px;
            margin: 39px 15px 32px;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .insurance-companies {
              &__logo {
                margin: 0 0 24px;
              }
              &__phone {
                width: unset;
              }
            }
          }
          &__reviews {
            border: none;
            box-shadow: none;
            background-color: unset;
            margin-left: 15px;
            margin-right: 15px;
            padding: 0;
            .reviews-all-reviews {
              max-width: 327px;
            }
          }
        }
      }
    }
  }
}
/*
&__big-content {
  &__appeal-history {

  }

  .lk__content__big-content &__more-content-button {
    margin-top: 5px;
    width: 235px;
  }
}
&__big-content880 {
  margin-top:44px;
  padding: 24px 37px 37px 35px;
  &__title {
    font-family: Playfair Display;
    font-size: 40px;
    line-height: 53px;
    color: #134469;
    margin-bottom: 20px;
    display: inherit;
  }
}

&__big-content640 {
  .lk &__more-content-button {
    height: 55px;
  }
}

&__big-content582 {
  border: none;
  box-shadow: none;
  margin-top:0;
  padding: 0;
  &__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 15px 25px;
  }
  &__appeal-history {
    &__appeal-item {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px 15px;
      .appeal-item{
        &__name {
          text-align: end;
        }
        &__medical-institution {
          width: 100%;
          margin: 10px 0 5px;
        }
      }
    }
  }
  &__more-content-button {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}*/
