@import '../utils/vars';

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    li {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1.4rem;

        &.active-breadcrumbs {
            color: $accentColor;
            font-family: $main-font-semibold;

            a {
                color: $accentColor;
                font-family: $main-font-semibold;
            }
        }

        a {
            &.active-breadcrumbs {
                color: $accentColor;
                font-family: $main-font-semibold;
            }
        }

        &:after {
            content: '';
            width: 3.6rem;
            height: 0.1rem;
            margin: 0 2rem;
            background: $mainColor;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}