.modal {
    position: relative;
    max-width: 80vw;
    padding: 2rem;
    background: white;
    margin: 0 auto;
    text-align: center;

    .title {
        font-size: 1.6rem;
        margin-bottom: 2rem;
        padding: 0 2rem 0 0;
        font-weight: bold;
    }
    .link_block{
        margin: 1rem 0 0 0;
        a{
            font-size: 1.2rem;
            text-decoration: underline;
            @media screen and (min-width: 992px) {
                font-size: 1.6vmax;
            }
            @media screen and (min-width: 1400px) {
                font-size: 1.6rem;
            }
        }
    }
    .close-modal {
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;

        img {
            height: 2rem;
        }
    }
}

@media screen and (min-width: 992px) {
    .modal {
        max-width: 50vw;
        padding: 4rem;
    
        .title {
            font-size: 2.1rem;
        }
    
        .close-modal {
    
            img {
                height: 4rem;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .modal {
        max-width: 30vw;
        padding: 7rem;
    
        .title {
            font-size: 2.6rem;
        }
    }
}
#auth-form-reg{
    .checkbox_registration{
        padding: 1rem;
        margin-bottom: 2rem;
        a{
            text-decoration: underline;
        }
        .check-label{
            display: block;
        }
    }
    .input_phone-flex {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .sms-error{
        position: absolute;
        top: 100%;
        left: 0;
        @media(min-width: 992px){
            left: 1rem;
        }
    }
    .flex_hidden_wrap_phone{
        display: flex;
        justify-content: flex-end;
    }
}
.block_relative{
    position: relative;
    display: flex;
    input{
        width: 100%;
    }
}

.blue-bg {
    background-color: $mainColor !important;
    color: white;
    cursor: pointer;
}