{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field%}
    <div>
{#        <img style="max-width: 100%;" src="{{ image_url(object) }}" />#}
        <img style="max-width: 100%;" src="{{ image_thumbnail_url(object, 'original', 'preview') }}" />
    </div>
{% endblock %}