@import '../../styles/utils/vars';

.block {
    &__top {
        margin-bottom: 5vmin;

        &_title {
            display: flex;
            align-items: center;
            margin-bottom: 5vmin;


            img {
                margin-right: 2rem;
                max-height: 15vmin;
            }

            &_text {
                font-size: 2.1rem;
                color: $succes;
            }
        }
    }

    &__two {
        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 5vmin;

            img {
                max-height: 10vmin;
                margin-right: 2vmax;
            }

            &_r {
                &_title {
                    font-size: 2.1rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    &__three {
        margin-bottom: 5vmin;
        
        &_title {
            font-size: 1.8rem;
            margin-bottom: 5vmin;
        }

        &_wrap {
            &_l {
                img {
                    display: block;
                    margin: 0 auto;
                    max-height: 30vmin;
                }
            }
        }

        &_wrap {
            &_r {
                &_title {
                    font-size: 1.8rem;
                    margin-bottom: 2.5vmin;
                    text-align: center;
                }
            }
        }
    }

    &__four {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vmin;

        &_l {
            &_title {
                font-size: 1.8rem;
                margin-bottom: 5vmin;
            }

            &_bottom {
                
                &_text {
                    font-weight: bold;
                    font-size: 1.8rem;
                    margin: 2vmin 0;
                    text-align: center;
                    @media(min-width: 992px){
                        text-align: right;
                    }
                }

                &_items {
                    display: flex;

                    &_item {
                        flex: 1;
                        padding: 0.1rem;

                        img {
                            display: block;
                            width: 100vw;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        &_r {
            img {
                display: block;
                object-fit: cover;
                max-height: 50vw;
                width: auto;
                margin-left: auto;
                @media(max-width: 991px){
                    margin: 0 auto;
                }
            }
        }
    }

    &__bottom {
        p {
            margin-bottom: 5vmin;
        }
    }
}

@media screen and (min-width: 992px) {
    .block {
        &__top {
    
            &_title {
    
                &_text {
                    font-size: 2.6rem;
                }
            }
        }

        &__two {
            &_item {
                &_r {
                    &_title {
                        font-size: 2.1rem;
                    }
                }
            }
        }

        &__three {

            &_title {
                font-size: 2.6rem;
            }

            &_wrap {
                display: flex;

                &_l {
                    img {
                        margin: 0;
                    }
                }

                &_r {
                    flex: 2;
                    padding-left: 5rem;

                    &_title {
                        font-size: 2.1rem;
                        text-align: left;
                    }
                }
            }
        }

        &__four {
            display: flex;
            flex-direction: row;
            &_l {
                display: flex;
                flex-direction: column;
                padding-right: 8rem;

                &_title {
                    font-size: 2.6rem;
                }

                &_bottom {
                    &_text {
                        font-size: 1.8rem;
                    }
                    
                    &_items {
                        &_item {
                            width: 20rem;
                            height: 10rem;

                            img {
                                max-height: 100%;
                            }
                        }
                    }
                }
            }

            &_r {
                flex: 1;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .block {
        &__top {
    
            &_title {
    
                &_text {
                    font-size: 3.6rem;
                }
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .block {

        &__two {
            &_item {
                flex-direction: column;
                display: flex;
                img {
                    display: block;
                    margin: 0 auto 5vmin auto;
                    max-height: 30vmin;
                }
                &_r {
                    &_title {
                        text-align: center;
                    }
                }
            }
        }
    }
}