@import '../../styles/utils/vars';

.no_click{
    pointer-events: none;
}
.personal_cabinet{
  .flex_personal{
    margin-bottom: 5rem;
    @media screen and (min-width: 992px){
      display: flex;
    }
    .personal_data{
      @media screen and (min-width: 992px){
        flex: 2;
        padding-right: 3rem;
        margin-bottom: 0;
      }
      @media(max-width: 991px){
        margin-bottom: 2rem;
      }
      .flex_data {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 1rem;
        .item_data {
          width: 100%;
          margin-bottom: 0;
          &:nth-child(odd){
            font-weight: 700;
            @media(min-width: 576px){
              width: 40%;
            }
            @media(min-width: 1200px){
              width: 30%;
            }
          }
          @media(min-width: 576px){
            width: 49%;
          }
          &_text{
            height: 5rem;
            padding: 0 3rem;
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .edit_block{
      @media screen and (min-width: 992px){
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .photo_user{
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        img{
          max-width: 100%;
        }
      }
    }
  }
}
.logo_block{
  max-width: 10rem;
  margin-top: 1rem;
}
.user_vip{
  margin-bottom: 2rem;
  .text_vip{
    display: inline-block;
    background: $lightBg;
    border: 1px dashed $accentColor;
    padding: 0.5rem;
    font-weight: bold;
  }
}
.region_child{
  @media(min-width: 576px){
    display: flex;
    justify-content: space-between;
  }
  .input-with-search{
    @media(min-width: 576px){
      width: 49%;
    }
  }
  .title-select{
    margin-bottom: 1rem;
  }
}
.submit_button-child{
  display: flex;
  margin-top: 2rem;
  .main-button-styles {
    margin-right: 2rem;
  }
  &_button{
    margin-bottom: 2rem;
    @media(max-width: 991px){
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }
}
.absolute-error{
  position: absolute;
  top: 100%;
  left: 0;
}
#add_children_btn{
  margin-left: 0;
}
.info_child{
  margin: 2rem 0;
}
.styles-select-personal{
  @media(min-width: 576px){
    display: flex;
    justify-content: space-between;
  }
  .half-wrap_input{
    @media(min-width: 576px){
      width: 49%;
    }
  }

}