<a href="{{ path('admin_app_user_user_user_patient_list', {'id': object.id}) }}" class="btn btn-sm btn-default edit_link" title="Пациенты">
    <i class="fa fa-list" aria-hidden="true"></i>
    Пациенты
</a>
