{% if not object.main %}
<a href="{{ admin.generateObjectUrl('set-main', object) }}" class="btn btn-sm btn-default edit_link" title="Выбрать">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    Выбрать основным
</a>
{% endif %}
