{% extends "base.html.twig" %}

{% block title %}
    <title>
        Новый пароль — Безбахил — сервис для возврата денег за ОМС, рейтинг страховых компаний
    </title>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/local/templates/kdteam/pages/landing/landing.min.css">
    <link rel="stylesheet" href="/local/templates/kdteam/pages/authorization/authorization.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/dist/bundle.js"></script>
{% endblock %}

{% block main %}
    <div class="app__content">
    <ul class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        {% if is_mobile() or is_tablet() %}
            <li class="active-breadcrumbs" itemprop="itemListElement" itemscope=""
                itemtype="http://schema.org/ListItem">
                <a href="{{ path('homepage') }}" itemprop="item">Главная
                    <meta itemprop="name" content="Главная">
                </a>
                <meta itemprop="position" content="1">
            </li>
        {% else %}
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="{{ path('homepage') }}" itemprop="item">Главная
                    <meta itemprop="name" content="Главная">
                </a>
                <meta itemprop="position" content="1">
            </li>
            <li class="active-breadcrumbs" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item">Новый пароль
                    <meta itemprop="name" content="Новый пароль">
                </a>
                <meta itemprop="position" content="2">
            </li>
        {% endif %}
    </ul>
    <h3 class="title-page">Новый пароль</h3>
    <div class="password-form">
        {% block fos_user_content %}
            {% include "@FOSUser/Resetting/reset_content.html.twig" %}
        {% endblock fos_user_content %}
    </div><!-- b:m-content -->
{% endblock %}