@font-face {
    font-family: 'Exo-Regular';
    src: url('../fonts/Exo/Exo-Regular/Exo-Regular.eot');
    src: url('../fonts/Exo/Exo-Regular/Exo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Exo/Exo-Regular/Exo-Regular.woff2') format('woff2'),
        url('../fonts/Exo/Exo-Regular/Exo-Regular.woff') format('woff'),
        url('../fonts/Exo/Exo-Regular/Exo-Regular.ttf') format('truetype'),
        url('../fonts/Exo/Exo-Regular/Exo-Regular.svg#Exo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo-Light';
    src: url('../fonts/Exo/Exo-Light/Exo-Light.eot');
    src: url('../fonts/Exo/Exo-Light/Exo-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Exo/Exo-Light/Exo-Light.woff2') format('woff2'),
        url('../fonts/Exo/Exo-Light/Exo-Light.woff') format('woff'),
        url('../fonts/Exo/Exo-Light/Exo-Light.ttf') format('truetype'),
        url('../fonts/Exo/Exo-Light/Exo-Light.svg#Exo-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo-Medium';
    src: url('../fonts/Exo/Exo-Medium/Exo-Medium.eot');
    src: url('../fonts/Exo/Exo-Medium/Exo-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Exo/Exo-Medium/Exo-Medium.woff2') format('woff2'),
        url('../fonts/Exo/Exo-Medium/Exo-Medium.woff') format('woff'),
        url('../fonts/Exo/Exo-Medium/Exo-Medium.ttf') format('truetype'),
        url('../fonts/Exo/Exo-Medium/Exo-Medium.svg#Exo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo-SemiBold';
    src: url('../fonts/Exo/Exo-SemiBold/Exo-SemiBold.eot');
    src: url('../fonts/Exo/Exo-SemiBold/Exo-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Exo/Exo-SemiBold/Exo-SemiBold.woff2') format('woff2'),
        url('../fonts/Exo/Exo-SemiBold/Exo-SemiBold.woff') format('woff'),
        url('../fonts/Exo/Exo-SemiBold/Exo-SemiBold.ttf') format('truetype'),
        url('../fonts/Exo/Exo-SemiBold/Exo-SemiBold.svg#Exo-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo-Bold';
    src: url('../fonts/Exo/Exo-Bold/Exo-Bold.eot');
    src: url('../fonts/Exo/Exo-Bold/Exo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Exo/Exo-Bold/Exo-Bold.woff2') format('woff2'),
        url('../fonts/Exo/Exo-Bold/Exo-Bold.woff') format('woff'),
        url('../fonts/Exo/Exo-Bold/Exo-Bold.ttf') format('truetype'),
        url('../fonts/Exo/Exo-Bold/Exo-Bold.svg#Exo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

