@mixin btnMobile($bgColor, $color) {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    background-color: $bgColor;
    color: $color;
    padding: 2rem 2.7rem;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 auto;
    border: none;
    
    &:hover {
        background-color:lighten($bgColor, 10%);
    }
}

@mixin btnDesc($bgColor, $color) {
    display: flex;
    max-width: 30vw;
    font-size: 1.6rem;
    background-color: $bgColor;
    color: $color;
    padding: 2.6rem 4rem;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 auto;
    border: none;
    text-align: center;

    &:hover {
        background-color:lighten($bgColor, 10%);
    }
}

@mixin smallBtn($bgColor, $color) {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    background-color: $bgColor;
    color: $color;
    padding: 1.4rem 3rem;
    cursor: pointer;
    border: none;
    
    &:hover {
        background-color:lighten($bgColor, 10%);
    }
}


@mixin boxShadow {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.08);
}