@mixin btnHeaderMobile($bgColor, $color) {
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    background-color: $bgColor;
    color: $color;
    cursor: pointer;
    border: solid 0.1rem $bgColor;
    border-radius: 20rem;
    
    &:hover {
        background-color:lighten($bgColor, 10%);
    }
}

@mixin btnDesc($bgColor, $color) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 20rem;
    min-height: 5.5rem;
    padding: 0 2rem;
    font-size: 1.6rem;
    font-family: $main-font-semibold;
    background-color: $bgColor;
    color: $color;
    cursor: pointer;
    text-align: center;
    border: solid 0.1rem $bgColor;
    border-radius: 20rem;
    @media screen and (max-width: 576px){
        width: 100%;
    }

    &:hover {
        background-color:lighten($bgColor, 10%);
    }
}

@mixin smallBtn($bgColor, $color) {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    background-color: $bgColor;
    color: $color;
    padding: 1.4rem 3rem;
    cursor: pointer;
    border: none;
    
    &:hover {
        background-color:lighten($bgColor, 10%);
    }
}

@mixin boxShadow {
    box-shadow: 0 0 1rem rgba(25,108,156,.205);
}