html {
    @media (max-width: 320px)  {
        font-size: calc(100vw / 32);
    }
    @media (min-width: 320px) and (max-width: 440px)  {
        font-size: calc(100vw / 32);
    }
    @media (min-width: 440px) and (max-width: 575px)  {
        font-size: calc(100vw / 50);
    }

    @media (min-width: 576px) and (max-width: 767px)  {
        font-size: calc(100vw / 76.7);
    }

    @media (min-width: 768px) and (max-width: 991px)  {
        font-size: calc(100vw / 92);
    }

    @media (min-width: 992px) and (max-width: 1199px)  {
        font-size: calc(100vw / 120);
    }

    @media (min-width: 1200px) and (max-width: 1599px)  {
        font-size: calc(100vw / 159);
    }

    @media(min-width: 1600px) and (max-width: 1919px) {
        font-size: calc(100vw / 160);
    }

    @media(min-width: 1920px) {
        font-size: calc(100vw / 192);
    }
}

.page-title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.small-page-title{
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
p {
    font-size: 1.2rem;
}
.list_block{
    li{
        font-size: 1.1rem;
    }
}
.list_block{
    li{
        padding-left: 1rem;
    }
}

.title-select {
    display: block;
    font-size: 1.6rem;
    margin: 2rem 0;
}

@media screen and (min-width: 992px) {
    p {
        font-size: 1.6vmax;
    }
    .list_block{
        li{
            font-size: 1.5vmax;
        }
    }
}

@media screen and (min-width: 1200px) {
    .page-title {
        font-size: 3.6rem;
        margin-bottom: 5rem;
    }
    .small-page-title{
        font-size: 2.6rem;
        margin-bottom: 3rem;
    }

    .title-select {
        font-size: 1.6rem;
        margin: 3rem 0;
    }
    
}

@media screen and (min-width: 1400px) {
    p {
        font-size: 1.6rem;
    }
    .list_block{
        li{
            font-size: 1.5rem;
        }
    }
}
