// FONTS
$main-font-regular: 'Exo-Regular';
$main-font-light: 'Exo-Light';
$main-font-medium: 'Exo-Medium';
$main-font-semibold: 'Exo-SemiBold';
$main-font-bold: 'Exo-Bold';

// Colors shema
$bgColor: #f7fafc;
$mainColor: rgb(32, 32, 32);
$borderMainBtn: #266286;
$accentColor: #00ABD8;
$borderAccentBtn: #00A8D5;
$border: #e0ebf2;
$lightBg: #e0ebf2;
$light-blue-bg: #e0ebf2;
$text-color: #464646;
$title-color: #186b9c;
// Buttons home border
$homeBtnColor: #e0ebf2;

// Color Shema
$color: #464646;
$bgLightBlue: #e0ebf2;

// Btns Color
$mainBtnBg: #186b9c;
$mainBtnColor: white;

// Btns RESET Color
$btnResetBg: #222;
$btnResetColor: #fff;

// Btns White
$btnWhiteBg: white;
$btnWhiteColor: #222;

// Footer
$footer-bg: #1b3954;


// Input
$inputColor: $bgColor;

// disabled color
$disabled: #dbdbdb;

$succes: #1DB517;