// FONTS
$main-font-regular: 'Exo-Regular';
$main-font-light: 'Exo-Light';
$main-font-medium: 'Exo-Medium';
$main-font-semibold: 'Exo-SemiBold';
$main-font-bold: 'Exo-Bold';

// Colors shema
$bgColor: #F5F7F8;
$mainColor: #103F5C;
$borderMainBtn: #266286;
$accentColor: #00ABD8;
$borderAccentBtn: #00A8D5;
$lightBg: #e8ebef;
$text-color: #5D5D5D;
$title-color: #103F5C;
// Buttons home border
$homeBtnColor: #EAEFF5;

// Input
$inputColor: #EAEDF0;

$succes: #1DB517;