.idea
/logs
/data
.env
/.project
.docker-sync
/jenkins/jenkins_home
!/.env
!/nginx/sites/pixel.kdteamcompany.com.conf
!/nginx/sites/lids.kdteamcompany.com.conf
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
