@import './utils/vars';

.footer {
    margin-top: 5rem;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    background-color: $footer-bg;

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        @media screen and (min-width: 992px){
            max-width: 80vw;
        }
        @media screen and (min-width: 1440px){
            max-width: 70vw;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        @media(max-width: 991px){
            justify-content: center;
            margin-bottom: 2rem;
        }

        img {
            width: 10rem;
            max-width: 100%;
           @media sreen and(min-width: 992px){
               margin-right: 1rem;
           }
        }

        &_name {
            font-size: 1.4rem;
        }
    }

    &__developer{
        max-width: 12rem;
        width: 100%;
        margin-left: auto;
        text-align: right;
        @media(max-width: 991px){
            margin: 0 auto;
            text-align: center;
        }
        &_title{
            font-size: 1.2rem;
            margin-bottom: .5rem;
            display: inline-block;
            color: white;
        }

        svg {
            path {
                fill: white;
            }
        }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2rem;

        li {
            text-align: center;
            margin-right: 1rem;
            a {
                font-size: 1.6rem;
                display: block;
                color: white;
                &:hover {
                    color: lighten(white, 10%);
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .footer {
        padding: 4rem 1.5rem 4rem 1.5rem;

        &__container {
            flex-direction: row;
        }

        &__logo {
            width: 10%;
        }

        &__menu {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 0;

            li {
                text-align: left;
                margin-right: 2rem;
                a {
                    font-size: 1.8rem;
                }
            }
        }

        &__form {
            flex: 1;
            align-self: center;
        }
    }
}

@media screen and (min-width: 1400px) {
    .footer {

        &__menu {
            li {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

// Стили для нового футера

.main-svg-sprite {
    display: none;
    overflow: hidden;
}

.svg-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    fill: currentColor;
    font-size: 0;
}

.svg-icon__link {
    vertical-align: top;
    fill: inherit;
    width: inherit;
    height: inherit;
}

.site-width {
    margin: 0 auto;
    width: 100%;
    max-width: 1350px;
    padding-left: 25px;
    padding-right: 25px;
}

.app-footer {
    -ms-flex: none;
    flex: none;
    background-color: #d9e9ff;

    font-family: 'Montserrat', sans-serif;
    color: #515151;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.app-footer__part--top {
    padding: 75px 0;
}

.app-footer__part--bottom {
    padding: 17px 0;
    border-top: 1px solid #fff;
}

.app-footer__part--bottom .app-footer__content {
    -ms-flex-align: center;
    align-items: center;
}

.app-footer__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.app-footer__activity {
    width: 34.65%;
    font-size: 12px;
    line-height: 18px;
    padding-right: 8.47%;
}

.app-footer__list {
    -ms-flex: 1 1;
    flex: 1 1;
}

.app-footer__list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.app-footer__list ul li {
    margin-bottom: 18px;
}

.app-footer__list ul a {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    transition: 0.4s ease all;
    color: #515151;
}

.app-footer__list ul a:hover {
    color: #134469;
    text-decoration: underline;
}

.app-footer__soc {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 5px;
    min-width: 14.3%;
}

.app-footer__soc a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 17px;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: #134469;
    transition: 0.4s ease all;
}

.app-footer__soc a:hover {
    background-color: #00abd8;
}

.app-footer__soc a .svg-icon {
    width: 17px;
    height: 17px;
    fill: #fff;
}

.app-footer__copyright {
    margin-right: 7.7%;
}

.app-footer__agree,
.app-footer__personal {
    -ms-flex: 1 1;
    flex: 1 1;
    text-align: center;
}

.app-footer__logo {
    margin-right: 2.93%;
}

.app-footer__in {
    -ms-flex: 1 1;
    flex: 1 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #515151;
    font-size: 12px;
    line-height: 18px;
}

.app-footer__in a {
    color: inherit;
    transition: 0.4s ease all;
}

.app-footer__in a:hover {
    color: #00abd8;
    text-decoration: underline;
}

@media screen and (min-width: 1281px) {
    .app-footer__list ul li:nth-child(3n+1) {
        width: 38.33%;
    }

    .app-footer__list ul li:nth-child(3n+2) {
        width: 33.33%;
    }

    .app-footer__list ul li:nth-child(3n) {
        width: 27.33%;
    }
}

@media screen and (max-width: 1280px) {
    .app-footer__content {
        max-width: 768px;
    }

    .app-footer__part--top {
        padding: 48px 0 30px;
    }

    .app-footer__part--top .app-footer__content {
        display: block;
    }

    .app-footer__part--bottom {
        padding: 40px 0 27px;
    }

    .app-footer__part--bottom .app-footer__content {
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .app-footer__activity {
        width: 100%;
        padding: 0 0 40px;
    }

    .app-footer__list ul li {
        width: 50%;
    }

    .app-footer__list ul li:nth-child(even) {
        padding-left: 15px;
    }

    .app-footer__logo {
        margin-right: 35px;
    }

    .app-footer__in {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .app-footer__agree,
    .app-footer__personal {
        -ms-flex: none;
        flex: none;
        margin-bottom: 8px;
    }

    .app-footer__copyright {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 1280px) and (max-width: 640px) {
    .app-footer__logo,
    .app-footer__list {
        display: none;
    }

    .app-footer__part--top {
        padding: 28px 0 24px;
    }

    .app-footer__part--bottom {
        padding: 24px 0 17px;
    }

    .app-footer__activity {
        padding-bottom: 0;
    }

    .app-footer__in {
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-size: 10px;
    }

    .app-footer__soc {
        position: absolute;
        bottom: 0;
        right: 25px;
        padding: 0;
    }

    .app-footer__agree {
        text-align: right;
    }

    .app-footer__copyright {
        margin-right: 0;
    }

    .app-footer__personal {
        margin: 0;
        width: 100%;
        padding: 20px 0 8px;
        padding-right: 110px;
        max-width: 240px;
        text-align: left;
        line-height: 1.2;
    }
}

@media screen and (max-width: 640px) {
    .app-footer__content {
        max-width: 375px;
    }
}
