<div class="mail-bg" style="width: 100%;background-color: #f7fafc;text-align: center;">
    <div style="padding: 20px; background-color: #fff;border-bottom: solid 1px #e0ebf2;">
        <div class="logo">
            <img alt="OMS" src="/local/templates/kdteam/images/png/header/logo-oms.png" class="header__logo_img">
        </div>
    </div>
    <div class="mail-contetn" style="padding: 70px 20px;max-width: 80%;margin: 0 auto;">
        <img src="/local/templates/kdteam/images/pages/home/Illustration3.svg" style="height: 500px;" alt="">
        <h1 class="mail-contetn-title" style="font-size: 56px;text-align: center;margin-bottom: 50px;color: #186b9c;">
            Здравствуйте! </h1>
        <p class="mail-contetn-text" style="font-size: 21px;color: #202020;line-height: 36px;">
            С момента отправки обращения в страховую компанию прошло 30 дней, установленных законом для рассмотрения обращений граждан. Просим вас рассказать, получили ли вы результат рассмотрения обращения от страховой компании и удовлетворены ли вы работой страхового представителя. (<a href="{{url}}">рассказать</a> – переход на страницу отзывов)
        </p>
    </div>
</div>