@import '../../styles/utils/vars';
@import "../../pages/landing/v2";

.app-header {
  background: #fff;
}

.popup-write-us.onpage {
  background: none;
  position: static;
  padding-top: 200px;
  background: #f7fafc;
  .remodal-close {
    display:none;
  }
  .feedback_form {
    background: transparent;
    padding: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .popup-write-us.onpage {
    padding-top: 156px;;
  }
}

@media screen and (max-width: 1024px) {
  .popup-write-us.onpage {
    padding-top: 195px;;
  }
}

@media screen and (max-width: 640px) {
  .popup-write-us.onpage {
    padding-top: 90px;
  }
}

.form_contact-us{
  margin: 2rem 0;
  @media screen and(min-width: 1200px){
    margin: 5rem 0;
  }
  @media screen and(min-width: 992px){
    max-width: 70rem;
  }
  .writeUs__form__wrap{
    &__middle{
      @media screen and (min-width: 992px){
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
      }
      .input__wrap{
        &__half{
          @media screen and(min-width: 992px){
            width: 49%;
          }
        }
      }
    }
    textarea{
      min-height: 10rem;
    }
  }
}
