@import '../../styles/utils/vars';


.form_contact-us{
  margin: 2rem 0;
  @media screen and(min-width: 1200px){
    margin: 5rem 0;
  }
  @media screen and(min-width: 992px){
    max-width: 70rem;
  }
  .writeUs__form__wrap{
    &__middle{
      @media screen and (min-width: 992px){
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
      }
      .input__wrap{
        &__half{
          @media screen and(min-width: 992px){
            width: 49%;
          }
        }
      }
    }
    textarea{
      min-height: 10rem;
    }
  }
}
