.feedback {
    &__title {
        font-size: 1.4rem;
        font-weight: 700;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    &__bottom {
        &_star {
            margin-bottom: 2rem;
        }

        &_r {
            &_text {
                margin-bottom: 2rem;
            }

            .wrap-chrckbox {
                margin-bottom: 2rem;
            }

            .smallMainBtn {
                margin: auto;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .feedback {
        &__title {
            font-size: 1.8rem;
        }

        &__top {
            display: flex;

            .custom-select {
                width: 33%;
                margin-right: 5rem;
            }
        }

        &__bottom {
            display: flex;
            align-items: center;

            &_star {
                flex: 1;
                margin-bottom: 0;
            }
            &_r {
                display: flex;
                flex: 2;
                
                .wrap-chrckbox {
                    flex: 1;
                    justify-content: flex-end;
                    align-self: center;
                    margin-bottom: 0;
                }
            }
        }
    }
}

