@import '../../../gulp/styles/utils/vars';
@import '../../../gulp/styles/utils/mixins';

// Slider

.slider {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__details {
        margin-top: 6rem;
    }

    &__l {
        padding-top: 8rem;
        &_item{
            @media(min-width: 1200px){
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        }
        &_img {
            width: 100vw;
            max-height: 50vmin;
            object-fit: cover;
        }

        &_descr {
            margin-top: 3rem;
            font-size: 1.8rem;
        }
    }

    .home-title-sub {
        font-size: 3.8rem;
        color: $text-color-second;
        line-height: normal;
        &_line{
            margin: 0 2rem;
            @media(max-width: 1199px){
                display: none;
            }
        }
    }
}

// Блок кнопой переходов
.buttons {
    &__items {
        padding: 10rem 0 5rem 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        &_item {
            display: flex;
            align-items: center;
            justify-content: space-around;

            &_img {
                width: 100%;
            }

            &_image-block {
                display: flex;
                width: 50rem;
                height: 50rem;
            }

            &_title-block {
                width: 50rem;
            }

            &_title {
                margin-bottom: 2rem;
            }
        }
    }
}

// Home Laptop



// Home Desktop Small

@media screen and (max-width: 440px) {
    .slider {
    
        &__l {
            padding-top: 0;
            margin-bottom: 5rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .buttons {
        &__items {
            padding-top: 0;

            &_item {
                flex-direction: column;

                &_image-block {
                    width: 20rem;
                    height: auto;
                    margin: 0 auto;
                }
    
                &_title-block {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .slider {
    
        &__l {
            width: 100%;
            padding-top: 4rem;
            text-align: center;
        }
    }

    .buttons {
        &__items {
            &_item {
                margin-bottom: 5rem;
                flex-direction: column;

                &_image-block {
                    width: 30rem;
                    height: 30rem;
                    margin: 0 auto;
                }

                &_title-block {
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .buttons {
        &__items {
            &_item {
                &_image-block {
                    width: 30rem;
                }
            }
        }
    }
}

@media screen and (min-width:992px) {
    .buttons {
        &__items {
            &_item {
                &:nth-child(even) {
                    flex-direction: row-reverse;
                }
            }
        }
    }
}