@import '../../../gulp/styles/utils/vars';
@import '../../../gulp/styles/utils/mixins';

// Slider

.slider {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__details {
        margin-top: 6rem;
    }

    &__l {
        width: 50%;
        padding-top: 8rem;
        &_img {
            width: 100vw;
            max-height: 50vmin;
            object-fit: cover;
        }

        &_descr {
            margin-top: 3rem;
            font-size: 1.8rem;
        }
    }

    .home-title-sub {
        font-size: 3.8rem;
        color: $mainColor;
        line-height: normal;
    }
}

// Блок кнопой переходов
.buttons {
    &__items {
        padding: 10rem 0 5rem 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        &_item {
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(even) {
                flex-direction: row-reverse;
            }

            &_image-block {
                display: flex;
                width: 35rem;
                height: 35rem;
                img {
                    margin: 0 auto;
                    max-height: 100%;
                }
            }

            &_title-block {
                width: 45%;
                margin-left: 10rem;
            }

            &_title {
                margin-bottom: 2rem;
            }
        }
    }
}

// Home Laptop



// Home Desktop Small

@media screen and (max-width: 440px) {
    //
}

@media screen and (max-width: 992px) {
    .slider {
    
        &__l {
            width: 100%;
            padding-top: 4rem;
        }
    }
}